@import "../../node_modules/@vscode/codicons/dist/codicon.css";
@import "./popover/popover.css";
@import "./uikit/uikit.css";

@font-face {
  font-family: confluenticons;
  font-display: block;
  src: url("../../resources/dist/icons.woff2") format("woff2");
}
