name: vscode
lang: node
lang_version: 18.12.0
git:
  enable: true
  hooks:
    enable: true
github:
  enable: true
codeowners:
  enable: true
semaphore:
  enable: true
  pipeline_enable: false
  status_level: block
  triggers: ["branches", "pull_requests"]
sonarqube:
  languages:
    - javascript
    - typescript
  enable: true
  coverage_reports:
    - coverage/lcov.info
    - coverage/lcov-functional.info
  coverage_exclusions:
    - ".vscode-test/**/*"
    - "bin/**/*"
    - "node_modules/**/*"
    - "mk-files/**/*"
    - "src/clients/**/*"
    - "tests/**/*"
    - "userdata/**/*"
    - "Gulpfile.mjs"
    - "src/testing.ts"
    - "playwright.config.ts"
make:
  enable: false
