# openapi.yaml
---
openapi: 3.0.0
info:
  title: REST Admin API
  version: 3.0.0
  contact:
    name: Kafka REST Team
  x-api-id: 499e3476-71e0-4d6f-b4f9-6776cec6df27
  x-api-group: v3
  x-audience: external-public
  x-tag-group: Kafka API (%s)

servers:
  - url: https://pkc-00000.region.provider.confluent.cloud
    x-audience: business-unit-internal
    description:
      Confluent Cloud REST Endpoint. For example https://pkc-00000.region.provider.confluent.cloud

x-tagGroups: []
paths:
  /kafka/v3/clusters/{cluster_id}:
    parameters:
      - $ref: "#/components/parameters/ClusterId"

    get:
      summary: Get Cluster
      operationId: getKafkaCluster
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return the Kafka cluster with the specified ``cluster_id``.
      tags:
        - Cluster (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/GetClusterResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/acls:batch:
    parameters:
      - $ref: "#/components/parameters/ClusterId"

    post:
      summary: Batch Create ACLs
      operationId: batchCreateKafkaAcls
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Create ACLs.
      tags:
        - ACL (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/BatchCreateAclRequest"
      responses:
        "201":
          description: Created
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse_CreateAcls"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/acls:
    parameters:
      - $ref: "#/components/parameters/ClusterId"

    get:
      summary: List ACLs
      operationId: getKafkaAcls
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return a list of ACLs that match the search criteria.
      tags:
        - ACL (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      parameters:
        - $ref: "#/components/parameters/AclResourceType"
        - $ref: "#/components/parameters/AclResourceName"
        - $ref: "#/components/parameters/AclPatternType"
        - $ref: "#/components/parameters/AclPrincipal"
        - $ref: "#/components/parameters/AclHost"
        - $ref: "#/components/parameters/AclOperation"
        - $ref: "#/components/parameters/AclPermission"
      responses:
        "200":
          $ref: "#/components/responses/SearchAclsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    post:
      summary: Create an ACL
      operationId: createKafkaAcls
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Create an ACL.
      tags:
        - ACL (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/CreateAclRequest"
      responses:
        "201":
          description: Created
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse_CreateAcls"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    delete:
      summary: Delete ACLs
      operationId: deleteKafkaAcls
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Delete the ACLs that match the search criteria.
      tags:
        - ACL (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      parameters:
        - $ref: "#/components/parameters/AclResourceTypeRequired"
        - $ref: "#/components/parameters/AclResourceName"
        - $ref: "#/components/parameters/AclPatternTypeRequired"
        - $ref: "#/components/parameters/AclPrincipal"
        - $ref: "#/components/parameters/AclHost"
        - $ref: "#/components/parameters/AclOperationRequired"
        - $ref: "#/components/parameters/AclPermissionRequired"
      responses:
        "200":
          $ref: "#/components/responses/DeleteAclsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse_DeleteAcls"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/broker-configs:
    parameters:
      - $ref: "#/components/parameters/ClusterId"

    get:
      summary: List Dynamic Broker Configs
      operationId: listKafkaClusterConfigs
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return a list of dynamic cluster-wide broker configuration parameters for the specified Kafka
        cluster. Returns an empty list if there are no dynamic cluster-wide broker configuration parameters.
      tags:
        - Configs (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/ListClusterConfigsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/broker-configs:alter:
    parameters:
      - $ref: "#/components/parameters/ClusterId"

    post:
      summary: Batch Alter Dynamic Broker Configs
      operationId: updateKafkaClusterConfigs
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Update or delete a set of dynamic cluster-wide broker configuration parameters.
      tags:
        - Configs (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/AlterClusterConfigBatchRequest"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/broker-configs/{name}:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/ConfigName"

    get:
      summary: Get Dynamic Broker Config
      operationId: getKafkaClusterConfig
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return the dynamic cluster-wide broker configuration parameter specified by ``name``.
      tags:
        - Configs (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/GetClusterConfigResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    put:
      summary: Update Dynamic Broker Config
      operationId: updateKafkaClusterConfig
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Update the dynamic cluster-wide broker configuration parameter specified by ``name``.
      tags:
        - Configs (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/UpdateClusterConfigRequest"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    delete:
      summary: Reset Dynamic Broker Config
      operationId: deleteKafkaClusterConfig
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Reset the configuration parameter specified by ``name`` to its
        default value by deleting a dynamic cluster-wide configuration.
      tags:
        - Configs (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/consumer-groups:
    parameters:
      - $ref: "#/components/parameters/ClusterId"

    get:
      summary: List Consumer Groups
      operationId: listKafkaConsumerGroups
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return the list of consumer groups that belong to the specified
        Kafka cluster.
      tags:
        - Consumer Group (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/ListConsumerGroupsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/ConsumerGroupId"

    get:
      summary: Get Consumer Group
      operationId: getKafkaConsumerGroup
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return the consumer group specified by the ``consumer_group_id``.
      tags:
        - Consumer Group (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/GetConsumerGroupResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}/consumers:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/ConsumerGroupId"

    get:
      summary: List Consumers
      operationId: listKafkaConsumers
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return a list of consumers that belong to the specified consumer
        group.
      tags:
        - Consumer Group (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/ListConsumersResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}/lag-summary:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/ConsumerGroupId"

    get:
      summary: Get Consumer Group Lag Summary
      operationId: getKafkaConsumerGroupLagSummary
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Available in dedicated clusters only](https://img.shields.io/badge/-Available%20in%20dedicated%20clusters%20only-%23bc8540)](https://docs.confluent.io/cloud/current/clusters/cluster-types.html#dedicated-cluster)

        Return the maximum and total lag of the consumers belonging to the
        specified consumer group.
      tags:
        - Consumer Group (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/GetConsumerGroupLagSummaryResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}/lags:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/ConsumerGroupId"

    get:
      summary: List Consumer Lags
      operationId: listKafkaConsumerLags
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Available in dedicated clusters only](https://img.shields.io/badge/-Available%20in%20dedicated%20clusters%20only-%23bc8540)](https://docs.confluent.io/cloud/current/clusters/cluster-types.html#dedicated-cluster)

        Return a list of consumer lags of the consumers belonging to the
        specified consumer group.
      tags:
        - Consumer Group (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/ListConsumerLagsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}/lags/{topic_name}/partitions/{partition_id}:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/ConsumerGroupId"
      - $ref: "#/components/parameters/TopicName"
      - $ref: "#/components/parameters/PartitionId"

    get:
      summary: Get Consumer Lag
      operationId: getKafkaConsumerLag
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy) [![Available in dedicated clusters only](https://img.shields.io/badge/-Available%20in%20dedicated%20clusters%20only-%23bc8540)](https://docs.confluent.io/cloud/current/clusters/cluster-types.html#dedicated-cluster)

        Return the consumer lag on a partition with the given `partition_id`.
      tags:
        - Consumer Group (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/GetConsumerLagResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/consumer-groups/{consumer_group_id}/consumers/{consumer_id}:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/ConsumerGroupId"
      - $ref: "#/components/parameters/ConsumerId"

    get:
      summary: Get Consumer
      operationId: getKafkaConsumer
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return the consumer specified by the ``consumer_id``.
      tags:
        - Consumer Group (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/GetConsumerResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/topics:
    parameters:
      - $ref: "#/components/parameters/ClusterId"

    get:
      summary: List Topics
      operationId: listKafkaTopics
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return the list of topics that belong to the specified Kafka cluster.
      tags:
        - Topic (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      parameters:
        - $ref: "#/components/parameters/IncludeAuthorizedOperationsCamelCase"
      responses:
        "200":
          $ref: "#/components/responses/ListTopicsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    post:
      summary: Create Topic
      operationId: createKafkaTopic
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Create a topic.
        Also supports a dry-run mode that only validates whether the topic creation would succeed
        if the ``validate_only`` request property is explicitly specified and set to true. Note that
        when dry-run mode is being used the response status would be 200 OK instead of 201 Created.
      tags:
        - Topic (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/CreateTopicRequest"
      responses:
        # returned when dry-run mode is being used and a topic has not been created
        "200":
          $ref: "#/components/responses/CreateTopicResponse"
        # returned in regular mode when a topic has been created
        "201":
          $ref: "#/components/responses/CreateTopicResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse_CreateTopic"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/topics/{topic_name}:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/TopicName"

    get:
      summary: Get Topic
      operationId: getKafkaTopic
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return the topic with the given `topic_name`.
      tags:
        - Topic (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      parameters:
        - $ref: "#/components/parameters/IncludeAuthorizedOperations"
      responses:
        "200":
          $ref: "#/components/responses/GetTopicResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    patch:
      summary: Update Partition Count
      operationId: updatePartitionCountKafkaTopic
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Increase the number of partitions for a topic.
      tags:
        - Topic (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePartitionCountRequestData"
        # $ref: '#/components/requestBodies/UpdatePartitionCountRequest'
      responses:
        "200":
          $ref: "#/components/responses/GetTopicResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse_UpdatePartitionCountTopic"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    delete:
      summary: Delete Topic
      operationId: deleteKafkaTopic
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Delete the topic with the given `topic_name`.
      tags:
        - Topic (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/topics/{topic_name}/configs:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/TopicName"

    get:
      summary: List Topic Configs
      operationId: listKafkaTopicConfigs
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return the list of configuration parameters that belong to the specified topic.
      tags:
        - Configs (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/ListTopicConfigsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/topics/{topic_name}/configs:alter:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/TopicName"

    post:
      summary: Batch Alter Topic Configs
      operationId: updateKafkaTopicConfigBatch
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Update or delete a set of topic configuration parameters.
        Also supports a dry-run mode that only validates whether the operation would succeed if the
        ``validate_only`` request property is explicitly specified and set to true.
      tags:
        - Configs (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/AlterTopicConfigBatchRequest"
      responses:
        # returned in both regular and dry-run modes
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/topics/{topic_name}/configs/{name}:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/TopicName"
      - $ref: "#/components/parameters/ConfigName"

    get:
      summary: Get Topic Config
      operationId: getKafkaTopicConfig
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return the configuration parameter with the given `name`.
      tags:
        - Configs (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/GetTopicConfigResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    put:
      summary: Update Topic Config
      operationId: updateKafkaTopicConfig
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Update the configuration parameter with given `name`.
      tags:
        - Configs (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/UpdateTopicConfigRequest"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    delete:
      summary: Reset Topic Config
      operationId: deleteKafkaTopicConfig
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Reset the configuration parameter with given `name` to its default value.
      tags:
        - Configs (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/topics/{topic_name}/partitions:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/TopicName"

    get:
      summary: List Partitions
      operationId: listKafkaPartitions
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return the list of partitions that belong to the specified topic.
      tags:
        - Partition (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/ListPartitionsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/topics/{topic_name}/partitions/{partition_id}:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/TopicName"
      - $ref: "#/components/parameters/PartitionId"

    get:
      summary: Get Partition
      operationId: getKafkaPartition
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return the partition with the given `partition_id`.
      tags:
        - Partition (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/GetPartitionResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/topics/-/configs:
    parameters:
      - $ref: "#/components/parameters/ClusterId"

    get:
      summary: List All Topic Configs
      operationId: listKafkaAllTopicConfigs
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Return the list of configuration parameters for all topics hosted by the specified
        cluster.
      tags:
        - Configs (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/ListTopicConfigsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/topics/{topic_name}/records:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/TopicName"
      - $ref: "#/components/parameters/DryRun"

    post:
      summary: Produce Records
      operationId: produceRecord
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Produce records to the given topic, returning delivery reports for each
        record produced. This API can be used in streaming mode by setting
        "Transfer-Encoding: chunked" header. For as long as the connection is
        kept open, the server will keep accepting records. Records are streamed
        to and from the server as Concatenated JSON. For each record sent to the
        server, the server will asynchronously send back a delivery report, in
        the same order, each with its own error_code. An error_code of 200
        indicates success. The HTTP status code will be HTTP 200 OK as long as
        the connection is successfully established. To identify records that
        have encountered an error, check the error_code of each delivery report.

        Note that the cluster_id is validated only when running in Confluent Cloud.

        This API currently does not support Schema Registry integration. Sending
        schemas is not supported. Only BINARY, JSON, and STRING formats are
        supported.

      tags:
        - Records (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/ProduceRequest"
      responses:
        "200":
          $ref: "#/components/responses/ProduceResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse_ProduceRecords"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponse"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponse"
        "413":
          $ref: "#/components/responses/RequestEntityTooLargeErrorResponse"
        "415":
          $ref: "#/components/responses/UnsupportedMediaTypeErrorResponse"
        "422":
          $ref: "#/components/responses/UnprocessableEntity_ProduceRecord"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links:
    parameters:
      - $ref: "#/components/parameters/ClusterId"

    get:
      summary: List all cluster links in the dest cluster
      operationId: listKafkaLinks
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        ``link_id`` in ``ListLinksResponseData`` is deprecated and may be removed in a future release. Use the new ``cluster_link_id`` instead.
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/ListLinksResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    post:
      summary: Create a cluster link
      operationId: createKafkaLink
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Cluster link creation requires source cluster security configurations in
        the configs JSON section of the data request payload.
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      parameters:
        - $ref: "#/components/parameters/QueryParamLinkName"
        - $ref: "#/components/parameters/ValidateOnly"
        - $ref: "#/components/parameters/ValidateLink"
      requestBody:
        $ref: "#/components/requestBodies/CreateLinkRequest"
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links/{link_name}:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/LinkName"

    get:
      summary: Describe the cluster link
      operationId: getKafkaLink
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        ``link_id`` in ``ListLinksResponseData`` is deprecated and may be removed in a future release. Use the new ``cluster_link_id`` instead.
      tags:
        - Cluster Linking (v3)
      parameters:
        - $ref: "#/components/parameters/IncludeTasks"
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/GetLinkResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    delete:
      summary: Delete the cluster link
      operationId: deleteKafkaLink
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      parameters:
        - $ref: "#/components/parameters/Force"
        - $ref: "#/components/parameters/ValidateOnly"
      responses:
        "200":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/topics/{topic_name}/default-configs:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/TopicName"

    get:
      summary: List New Topic Default Configs
      operationId: listKafkaDefaultTopicConfigs
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        List the default configuration parameters used if the topic were to be newly created.
      tags:
        - Configs (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/ListTopicConfigsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links/{link_name}/configs:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/LinkName"

    get:
      summary: List all configs of the cluster link
      operationId: listKafkaLinkConfigs
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/ListLinkConfigsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links/{link_name}/configs/{config_name}:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/LinkName"
      - $ref: "#/components/parameters/LinkConfigName"

    get:
      summary: Describe the config under the cluster link
      operationId: getKafkaLinkConfigs
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/GetLinkConfigsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    put:
      summary: Alter the config under the cluster link
      operationId: updateKafkaLinkConfig
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/UpdateLinkConfigRequest"
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    delete:
      summary: Reset the given config to default value
      operationId: deleteKafkaLinkConfig
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links/{link_name}/configs:alter:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/LinkName"

    put:
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Batch Alter Cluster Link Configs
      operationId: updateKafkaLinkConfigBatch
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      parameters:
        - $ref: "#/components/parameters/ValidateOnly"
      requestBody:
        $ref: "#/components/requestBodies/AlterLinkConfigBatchRequest"
      responses:
        "204":
          description: No Content
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"
      summary: Batch Alter Cluster Link Configs

  /kafka/v3/clusters/{cluster_id}/links/{link_name}/mirrors:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/LinkName"

    post:
      summary: Create a mirror topic
      operationId: createKafkaMirrorTopic
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Create a topic in the destination cluster mirroring a topic in
        the source cluster
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/CreateMirrorTopicRequest"
      responses:
        "204":
          $ref: "#/components/responses/NoContentResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

    get:
      summary: List mirror topics
      operationId: listKafkaMirrorTopicsUnderLink
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        List all mirror topics under the link
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      parameters:
        - $ref: "#/components/parameters/MirrorTopicStatus"
      responses:
        "200":
          $ref: "#/components/responses/ListMirrorTopicsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links/-/mirrors:
    parameters:
      - $ref: "#/components/parameters/ClusterId"

    get:
      summary: List mirror topics
      operationId: listKafkaMirrorTopics
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        List all mirror topics in the cluster
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      parameters:
        - $ref: "#/components/parameters/MirrorTopicStatus"
      responses:
        "200":
          $ref: "#/components/responses/ListMirrorTopicsResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links/{link_name}/mirrors/{mirror_topic_name}:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/LinkName"
      - $ref: "#/components/parameters/MirrorTopicName"

    get:
      summary: Describe the mirror topic
      operationId: readKafkaMirrorTopic
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)
      tags:
        - Cluster Linking (v3)
      parameters:
        - $ref: "#/components/parameters/IncludeStateTransitionErrors"
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        "200":
          $ref: "#/components/responses/DescribeMirrorTopicResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links/{link_name}/mirrors:promote:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/LinkName"
      - $ref: "#/components/parameters/ValidateOnly"

    post:
      summary: Promote the mirror topics
      operationId: updateKafkaMirrorTopicsPromote
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/AlterMirrorsRequest"
      responses:
        "200":
          $ref: "#/components/responses/AlterMirrorStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links/{link_name}/mirrors:failover:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/LinkName"
      - $ref: "#/components/parameters/ValidateOnly"

    post:
      summary: Failover the mirror topics
      operationId: updateKafkaMirrorTopicsFailover
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/AlterMirrorsRequest"
      responses:
        "200":
          $ref: "#/components/responses/AlterMirrorStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links/{link_name}/mirrors:pause:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/LinkName"
      - $ref: "#/components/parameters/ValidateOnly"

    post:
      summary: Pause the mirror topics
      operationId: updateKafkaMirrorTopicsPause
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/AlterMirrorsRequest"
      responses:
        "200":
          $ref: "#/components/responses/AlterMirrorStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links/{link_name}/mirrors:resume:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/LinkName"
      - $ref: "#/components/parameters/ValidateOnly"

    post:
      summary: Resume the mirror topics
      operationId: updateKafkaMirrorTopicsResume
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/AlterMirrorsRequest"
      responses:
        "200":
          $ref: "#/components/responses/AlterMirrorStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links/{link_name}/mirrors:reverse-and-start-mirror:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/LinkName"
      - $ref: "#/components/parameters/ValidateOnly"

    post:
      summary: Reverse the local mirror topic and start the remote mirror topic
      operationId: updateKafkaMirrorTopicsReverseAndStartMirror
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/AlterMirrorsRequest"
      responses:
        "200":
          $ref: "#/components/responses/AlterMirrorStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

  /kafka/v3/clusters/{cluster_id}/links/{link_name}/mirrors:reverse-and-pause-mirror:
    parameters:
      - $ref: "#/components/parameters/ClusterId"
      - $ref: "#/components/parameters/LinkName"
      - $ref: "#/components/parameters/ValidateOnly"

    post:
      summary: Reverse the local mirror topic and Pause the remote mirror topic
      operationId: updateKafkaMirrorTopicsReverseAndPauseMirror
      description: |-
        [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)
      tags:
        - Cluster Linking (v3)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        $ref: "#/components/requestBodies/AlterMirrorsRequest"
      responses:
        "200":
          $ref: "#/components/responses/AlterMirrorStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedErrorResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponse"
        5XX:
          $ref: "#/components/responses/ServerErrorResponse"

components:
  parameters:
    AclHost:
      name: host
      description: The ACL host.
      in: query
      required: false
      schema:
        type: string

    AclOperation:
      name: operation
      description: The ACL operation.
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/AclOperation"

    AclOperationRequired:
      name: operation
      description: The ACL operation.
      in: query
      required: true
      schema:
        $ref: "#/components/schemas/AclOperation"

    AclPatternType:
      name: pattern_type
      description: The ACL pattern type.
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/AclPatternType"

    AclPatternTypeRequired:
      name: pattern_type
      description: The ACL pattern type.
      in: query
      required: true
      schema:
        $ref: "#/components/schemas/AclPatternType"

    AclPermission:
      name: permission
      description: The ACL permission.
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/AclPermission"

    AclPermissionRequired:
      name: permission
      description: The ACL permission.
      in: query
      required: true
      schema:
        $ref: "#/components/schemas/AclPermission"

    AclPrincipal:
      name: principal
      description: The ACL principal. This is the Service Account name or user name.
      in: query
      required: false
      schema:
        type: string

    AclResourceName:
      name: resource_name
      description: The ACL resource name.
      in: query
      required: false
      schema:
        type: string

    AclResourceType:
      name: resource_type
      description: The ACL resource type.
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/AclResourceType"

    AclResourceTypeRequired:
      name: resource_type
      description: The ACL resource type.
      in: query
      required: true
      schema:
        $ref: "#/components/schemas/AclResourceType"

    BrokerId:
      name: broker_id
      description: The Kafka broker ID.
      in: path
      required: true
      schema:
        type: integer
      example: 1

    ClusterId:
      name: cluster_id
      description: The Kafka cluster ID.
      in: path
      required: true
      schema:
        type: string
      example: cluster-1

    ConfigName:
      name: name
      description: The configuration parameter name.
      in: path
      required: true
      schema:
        type: string
      example: compression.type

    ConsumerGroupId:
      name: consumer_group_id
      description: The consumer group ID.
      in: path
      required: true
      schema:
        type: string
      example: consumer-group-1

    ConsumerId:
      name: consumer_id
      description: The consumer ID.
      in: path
      required: true
      schema:
        type: string
      example: consumer-1

    DryRun:
      name: dry_run
      description: "To validate the action can be performed successfully or not. Default: false"
      in: query
      required: false
      schema:
        type: boolean

    IncludeAuthorizedOperations:
      name: include_authorized_operations
      description: Specify if authorized operations should be included in the response.
      in: query
      required: false
      schema:
        type: boolean

    IncludeAuthorizedOperationsCamelCase:
      name: includeAuthorizedOperations
      description: Specify if authorized operations should be included in the response.
      in: query
      required: false
      schema:
        type: boolean

    PartitionId:
      name: partition_id
      description: The partition ID.
      in: path
      required: true
      schema:
        type: integer
      example: 0

    TopicName:
      name: topic_name
      description: The topic name.
      in: path
      required: true
      schema:
        type: string
      example: topic-1

    BrokerTaskType:
      name: task_type
      description: The Kafka broker task type.
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/BrokerTaskType"
      example: remove-broker

    ShouldShutdown:
      name: should_shutdown
      description: "To shutdown the broker or not, Default: true"
      in: query
      required: false
      schema:
        type: boolean
      example: true

    ValidateOnly:
      name: validate_only
      description: "To validate the action can be performed successfully or not. Default: false"
      in: query
      required: false
      schema:
        type: boolean
      example: false

    ValidateLink:
      name: validate_link
      description:
        "To synchronously validate that the source cluster ID is expected and the dest cluster has
        the permission to read topics in the source cluster. Default: true"
      in: query
      required: false
      schema:
        type: boolean
      example: false

    IncludeTasks:
      name: include_tasks
      description: "Whether to include cluster linking tasks in the response. Default: false"
      in: query
      required: false
      schema:
        type: boolean
      example: false

    IncludeStateTransitionErrors:
      name: include_state_transition_errors
      description:
        "Whether to include mirror state transition errors in the response. Default: false"
      in: query
      required: false
      schema:
        type: boolean
      example: false

    Force:
      name: force
      description: "Force the action. Default: false"
      in: query
      required: false
      schema:
        type: boolean
      example: false

    LinkName:
      name: link_name
      description: The link name
      in: path
      required: true
      schema:
        type: string
      example: link-sb1

    LinkConfigName:
      name: config_name
      description: The link config name
      in: path
      required: true
      schema:
        type: string
      example: consumer.offset.sync.enable

    MirrorTopicStatus:
      name: mirror_status
      description:
        The status of the mirror topic. If not specified, all mirror topics will be returned.
      in: query
      required: false
      schema:
        $ref: "#/components/schemas/MirrorTopicStatus"
      example: ACTIVE

    MirrorTopicName:
      name: mirror_topic_name
      description: Cluster Linking mirror topic name
      in: path
      required: true
      schema:
        type: string
      example: topic-1

    QueryParamLinkName:
      name: link_name
      description: The link name
      in: query
      required: true
      schema:
        type: string
      example: link-sb1

  schemas:
    AbstractConfigData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - name
            - is_default
            - is_read_only
            - is_sensitive
            - source
            - synonyms
          properties:
            cluster_id:
              type: string
            name:
              type: string
            value:
              type: string
              nullable: true
            is_default:
              type: boolean
            is_read_only:
              type: boolean
            is_sensitive:
              type: boolean
            source:
              $ref: "#/components/schemas/ConfigSource"
            synonyms:
              type: array
              items:
                $ref: "#/components/schemas/ConfigSynonymData"
            # Currently the aggregator script doesn't merge correctly some
            # otherwise identical parts of duplicate components defined in
            # both kafka-rest and ce-kafka-rest's OpenAPI specs.
            # In some cases this can be handled by slightly tweaking the
            # input specs, but in other cases this requires manual
            # intervention in the consolidated specs after the generation.
            # We should eventually fix the aggregator script, but in the
            # meantime, we should be careful during reviews, making sure
            # that comments like this do not get replaced by wrongly
            # merged autogenerated content.
            # See https://github.com/confluentinc/ce-kafka-rest/pull/227.

    AclData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - resource_type
            - resource_name
            - pattern_type
            - principal
            - host
            - operation
            - permission
          properties:
            cluster_id:
              type: string
            resource_type:
              $ref: "#/components/schemas/AclResourceType"
            resource_name:
              type: string
            pattern_type:
              $ref: "#/components/schemas/AclPatternType"
            principal:
              type: string
            host:
              type: string
            operation:
              $ref: "#/components/schemas/AclOperation"
            permission:
              $ref: "#/components/schemas/AclPermission"

    AclDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/AclData"

    AclOperation:
      type: string
      x-extensible-enum:
        - UNKNOWN
        - ANY
        - ALL
        - READ
        - WRITE
        - CREATE
        - DELETE
        - ALTER
        - DESCRIBE
        - CLUSTER_ACTION
        - DESCRIBE_CONFIGS
        - ALTER_CONFIGS
        - IDEMPOTENT_WRITE

    AclPatternType:
      type: string
      x-extensible-enum:
        - UNKNOWN
        - ANY
        - MATCH
        - LITERAL
        - PREFIXED

    AclPermission:
      type: string
      x-extensible-enum:
        - UNKNOWN
        - ANY
        - DENY
        - ALLOW

    AclResourceType:
      type: string
      enum:
        - UNKNOWN
        - ANY
        - TOPIC
        - GROUP
        - CLUSTER
        - TRANSACTIONAL_ID
        - DELEGATION_TOKEN

    AlterConfigBatchRequestData:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            type: object
            required:
              - name
            properties:
              name:
                type: string
              value:
                type: string
                nullable: true
              operation:
                type: string
                x-extensible-enum:
                  - SET
                  - DELETE
                nullable: true
        validate_only:
          type: boolean

    AnyValue:
      nullable: true

    AuthorizedOperations:
      type: array
      items:
        type: string
        x-extensible-enum:
          - UNKNOWN
          - ALL
          - READ
          - WRITE
          - CREATE
          - DELETE
          - ALTER
          - DESCRIBE
          - CLUSTER_ACTION
          - DESCRIBE_CONFIGS
          - ALTER_CONFIGS
          - IDEMPOTENT_WRITE

    BrokerConfigData:
      allOf:
        - $ref: "#/components/schemas/AbstractConfigData"
        - type: object
          required:
            - broker_id
          properties:
            broker_id:
              type: integer

    BrokerConfigDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/BrokerConfigData"

    BrokerData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - broker_id
            - configs
            - partition_replicas
          properties:
            cluster_id:
              type: string
            broker_id:
              type: integer
            host:
              type: string
              nullable: true
            port:
              type: integer
              nullable: true
            rack:
              type: string
              nullable: true
            configs:
              $ref: "#/components/schemas/Relationship"
            partition_replicas:
              $ref: "#/components/schemas/Relationship"

    BrokerDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/BrokerData"

    ClusterConfigData:
      allOf:
        - $ref: "#/components/schemas/AbstractConfigData"
        - type: object
          required:
            - config_type
          properties:
            config_type:
              $ref: "#/components/schemas/ClusterConfigType"

    ClusterConfigDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/ClusterConfigData"

    ClusterConfigType:
      type: string
      x-extensible-enum:
        - BROKER

    ClusterData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - acls
            - brokers
            - broker_configs
            - consumer_groups
            - topics
            - partition_reassignments
          properties:
            cluster_id:
              type: string
            controller:
              $ref: "#/components/schemas/Relationship"
            acls:
              $ref: "#/components/schemas/Relationship"
            brokers:
              $ref: "#/components/schemas/Relationship"
            broker_configs:
              $ref: "#/components/schemas/Relationship"
            consumer_groups:
              $ref: "#/components/schemas/Relationship"
            topics:
              $ref: "#/components/schemas/Relationship"
            partition_reassignments:
              $ref: "#/components/schemas/Relationship"

    ClusterDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/ClusterData"

    CreateAclRequestData:
      type: object
      required:
        - resource_type
        - resource_name
        - pattern_type
        - principal
        - host
        - operation
        - permission
      properties:
        resource_type:
          $ref: "#/components/schemas/AclResourceType"
        resource_name:
          type: string
        pattern_type:
          $ref: "#/components/schemas/AclPatternType"
        principal:
          type: string
        host:
          type: string
        operation:
          $ref: "#/components/schemas/AclOperation"
        permission:
          $ref: "#/components/schemas/AclPermission"

    CreateAclRequestDataList:
      allOf:
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/CreateAclRequestData"

    CreateTopicRequestData:
      type: object
      required:
        - topic_name
      properties:
        topic_name:
          type: string
        partitions_count:
          type: integer
        replication_factor:
          type: integer
        configs:
          type: array
          items:
            type: object
            required:
              - name
            properties:
              name:
                type: string
              value:
                type: string
                nullable: true
        validate_only:
          type: boolean

    ConfigSource:
      type: string
      x-extensible-enum:
        - DYNAMIC_CLUSTER_LINK_CONFIG
        - DYNAMIC_TOPIC_CONFIG
        - DYNAMIC_BROKER_LOGGER_CONFIG
        - DYNAMIC_BROKER_CONFIG
        - DYNAMIC_DEFAULT_BROKER_CONFIG
        - STATIC_BROKER_CONFIG
        - DEFAULT_CONFIG
        - UNKNOWN
        # Currently the aggregator script doesn't merge correctly some
        # otherwise identical parts of duplicate components defined in
        # both kafka-rest and ce-kafka-rest's OpenAPI specs.
        # In some cases this can be handled by slightly tweaking the
        # input specs, but in other cases this requires manual
        # intervention in the consolidated specs after the generation.
        # We should eventually fix the aggregator script, but in the
        # meantime, we should be careful during reviews, making sure
        # that comments like this do not get replaced by wrongly
        # merged autogenerated content.
        # See https://github.com/confluentinc/ce-kafka-rest/pull/227.

    ConfigSynonymData:
      type: object
      required:
        - name
        - source
      properties:
        name:
          type: string
        value:
          type: string
          nullable: true
        source:
          $ref: "#/components/schemas/ConfigSource"

    ConsumerAssignmentData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - consumer_group_id
            - consumer_id
            - topic_name
            - partition_id
            - partition
            - lag
          properties:
            cluster_id:
              type: string
            consumer_group_id:
              type: string
            consumer_id:
              type: string
            topic_name:
              type: string
            partition_id:
              type: integer
            partition:
              $ref: "#/components/schemas/Relationship"
            lag:
              $ref: "#/components/schemas/Relationship"

    ConsumerAssignmentDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/ConsumerAssignmentData"

    ConsumerData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - consumer_group_id
            - consumer_id
            - client_id
            - assignments
          properties:
            cluster_id:
              type: string
            consumer_group_id:
              type: string
            consumer_id:
              type: string
            instance_id:
              type: string
              nullable: true
            client_id:
              type: string
            assignments:
              $ref: "#/components/schemas/Relationship"

    ConsumerDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/ConsumerData"

    ConsumerGroupData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - consumer_group_id
            - is_simple
            - partition_assignor
            - state
            - coordinator
            - consumers
            - lag_summary
          properties:
            cluster_id:
              type: string
            consumer_group_id:
              type: string
            is_simple:
              type: boolean
            partition_assignor:
              type: string
            state:
              $ref: "#/components/schemas/ConsumerGroupState"
            coordinator:
              $ref: "#/components/schemas/Relationship"
            consumer:
              $ref: "#/components/schemas/Relationship"
            lag_summary:
              $ref: "#/components/schemas/Relationship"

    ConsumerGroupDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/ConsumerGroupData"

    ConsumerGroupState:
      type: string
      x-extensible-enum:
        - UNKNOWN
        - PREPARING_REBALANCE
        - COMPLETING_REBALANCE
        - STABLE
        - DEAD
        - EMPTY

    ConsumerLagData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - consumer_group_id
            - topic_name
            - partition_id
            - current_offset
            - log_end_offset
            - lag
            - consumer_id
            - client_id
          properties:
            cluster_id:
              type: string
            consumer_group_id:
              type: string
            topic_name:
              type: string
            partition_id:
              type: integer
            current_offset:
              type: integer
              format: int64
            log_end_offset:
              type: integer
              format: int64
            lag:
              type: integer
              format: int64
            consumer_id:
              type: string
            instance_id:
              type: string
              nullable: true
            client_id:
              type: string

    ConsumerLagDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/ConsumerLagData"

    ConsumerGroupLagSummaryData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - consumer_group_id
            - max_lag_consumer_id
            - max_lag_client_id
            - max_lag_topic_name
            - max_lag_partition_id
            - max_lag
            - total_lag
            - max_lag_consumer
            - max_lag_partition
          properties:
            cluster_id:
              type: string
            consumer_group_id:
              type: string
            max_lag_consumer_id:
              type: string
            max_lag_instance_id:
              type: string
              nullable: true
            max_lag_client_id:
              type: string
            max_lag_topic_name:
              type: string
            max_lag_partition_id:
              type: integer
            max_lag:
              type: integer
              format: int64
            total_lag:
              type: integer
              format: int64
            max_lag_consumer:
              $ref: "#/components/schemas/Relationship"
            max_lag_partition:
              $ref: "#/components/schemas/Relationship"

    Error:
      type: object
      required:
        - error_code
        - message
      properties:
        error_code:
          type: integer
          format: int32
        message:
          type: string
          nullable: true

    PartitionData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - topic_name
            - partition_id
            - replicas
            - reassignment
          properties:
            cluster_id:
              type: string
            topic_name:
              type: string
            partition_id:
              type: integer
            leader:
              $ref: "#/components/schemas/Relationship"
            replicas:
              $ref: "#/components/schemas/Relationship"
            reassignment:
              $ref: "#/components/schemas/Relationship"

    PartitionDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/PartitionData"

    ProduceResponse:
      type: object
      required:
        - error_code
      properties:
        error_code:
          type: integer
          format: int32
        message:
          type: string
        cluster_id:
          type: string
        topic_name:
          type: string
        partition_id:
          type: integer
          format: int32
        offset:
          type: integer
          format: int64
        timestamp:
          type: string
          format: date-time
          nullable: true
        key:
          $ref: "#/components/schemas/ProduceResponseData"
        value:
          $ref: "#/components/schemas/ProduceResponseData"

    ProduceResponseData:
      type: object
      required:
        - size
        - type
      properties:
        size:
          type: integer
        type:
          type: string
          x-extensible-enum:
            - BINARY
            - JSON
            - STRING
      nullable: true

    ProduceRequest:
      type: object
      properties:
        partition_id:
          type: integer
          nullable: true
          format: int32
        headers:
          type: array
          items:
            $ref: "#/components/schemas/ProduceRequestHeader"
        key:
          $ref: "#/components/schemas/ProduceRequestData"
        value:
          $ref: "#/components/schemas/ProduceRequestData"
        timestamp:
          type: string
          format: date-time
          nullable: true

    ProduceRequestData:
      type: object
      properties:
        type:
          type: string
          x-extensible-enum:
            - BINARY
            - JSON
            - STRING
        subject:
          type: string
          nullable: true
        subject_name_strategy:
          type: string
          x-extensible-enum:
            - TOPIC_NAME
            - RECORD_NAME
            - TOPIC_RECORD_NAME
          nullable: true
        schema_version:
          type: integer
          nullable: true
        data:
          $ref: "#/components/schemas/AnyValue"
      nullable: true

    ProduceRequestHeader:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        value:
          type: string
          format: byte
          nullable: true

    ReassignmentData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - topic_name
            - partition_id
            - adding_replicas
            - removing_replicas
            - replicas
          properties:
            cluster_id:
              type: string
            topic_name:
              type: string
            partition_id:
              type: integer
            adding_replicas:
              type: array
              items:
                type: integer
            removing_replicas:
              type: array
              items:
                type: integer
            replicas:
              $ref: "#/components/schemas/Relationship"

    ReassignmentDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/ReassignmentData"

    Relationship:
      type: object
      required:
        - related
      properties:
        related:
          type: string

    ReplicaData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - topic_name
            - partition_id
            - broker_id
            - is_leader
            - is_in_sync
            - broker
          properties:
            cluster_id:
              type: string
            topic_name:
              type: string
            partition_id:
              type: integer
            broker_id:
              type: integer
            is_leader:
              type: boolean
            is_in_sync:
              type: boolean
            broker:
              $ref: "#/components/schemas/Relationship"

    ReplicaDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/ReplicaData"

    Resource:
      type: object
      required:
        - kind
        - metadata
      properties:
        kind:
          type: string
        metadata:
          $ref: "#/components/schemas/ResourceMetadata"

    ResourceCollection:
      type: object
      required:
        - kind
        - metadata
      properties:
        kind:
          type: string
        metadata:
          $ref: "#/components/schemas/ResourceCollectionMetadata"

    ResourceCollectionMetadata:
      type: object
      required:
        - self
      properties:
        self:
          type: string
        next:
          type: string
          nullable: true

    ResourceMetadata:
      type: object
      required:
        - self
      properties:
        self:
          type: string
        resource_name:
          type: string
          nullable: true

    TopicConfigData:
      allOf:
        - $ref: "#/components/schemas/AbstractConfigData"
        - type: object
          required:
            - topic_name
          properties:
            topic_name:
              type: string
          # Currently the aggregator script doesn't merge correctly some
          # otherwise identical parts of duplicate components defined in
          # both kafka-rest and ce-kafka-rest's OpenAPI specs.
          # In some cases this can be handled by slightly tweaking the
          # input specs, but in other cases this requires manual
          # intervention in the consolidated specs after the generation.
          # We should eventually fix the aggregator script, but in the
          # meantime, we should be careful during reviews, making sure
          # that comments like this do not get replaced by wrongly
          # merged autogenerated content.
          # See https://github.com/confluentinc/ce-kafka-rest/pull/227.

    TopicConfigDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/TopicConfigData"
          # Currently the aggregator script doesn't merge correctly some
          # otherwise identical parts of duplicate components defined in
          # both kafka-rest and ce-kafka-rest's OpenAPI specs.
          # In some cases this can be handled by slightly tweaking the
          # input specs, but in other cases this requires manual
          # intervention in the consolidated specs after the generation.
          # We should eventually fix the aggregator script, but in the
          # meantime, we should be careful during reviews, making sure
          # that comments like this do not get replaced by wrongly
          # merged autogenerated content.
          # See https://github.com/confluentinc/ce-kafka-rest/pull/227.

    TopicData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - topic_name
            - is_internal
            - replication_factor
            - partitions_count
            - partitions
            - configs
            - partition_reassignments
          properties:
            cluster_id:
              type: string
            topic_name:
              type: string
            is_internal:
              type: boolean
            replication_factor:
              type: integer
            partitions_count:
              type: integer
            partitions:
              $ref: "#/components/schemas/Relationship"
            configs:
              $ref: "#/components/schemas/Relationship"
            partition_reassignments:
              $ref: "#/components/schemas/Relationship"
            authorized_operations:
              $ref: "#/components/schemas/AuthorizedOperations"

    TopicDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/TopicData"

    UpdateConfigRequestData:
      type: object
      properties:
        value:
          type: string
          nullable: true

    UpdatePartitionCountRequestData:
      type: object
      required:
        - partitions_count
      properties:
        partitions_count:
          type: integer
          format: int32

    ReplicaStatusData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - topic_name
            - broker_id
            - partition_id
            - is_leader
            - is_observer
            - is_isr_eligible
            - is_in_isr
            - is_caught_up
            - log_start_offset
            - log_end_offset
            - last_caught_up_time_ms
            - last_fetch_time_ms
          properties:
            cluster_id:
              type: string
            topic_name:
              type: string
            broker_id:
              type: integer
              format: int32
            partition_id:
              type: integer
              format: int32
            is_leader:
              type: boolean
            is_observer:
              type: boolean
            is_isr_eligible:
              type: boolean
            is_in_isr:
              type: boolean
            is_caught_up:
              type: boolean
            log_start_offset:
              format: int64
              type: integer
            log_end_offset:
              format: int64
              type: integer
            last_caught_up_time_ms:
              format: int64
              type: integer
            last_fetch_time_ms:
              format: int64
              type: integer
            link_name:
              type: string

    ReplicaStatusDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/ReplicaStatusData"

    AnyUnevenLoadData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - status
            - previous_status
            - status_updated_at
            - previous_status_updated_at
            - broker_tasks
          properties:
            cluster_id:
              type: string
            status:
              $ref: "#/components/schemas/AnyUnevenLoadStatus"
            previous_status:
              $ref: "#/components/schemas/AnyUnevenLoadStatus"
            status_updated_at:
              type: string
              format: date-time
              example: "2019-10-12T07:20:50Z"
              readOnly: true
              description: The date and time at which this task was created.
            previous_status_updated_at:
              type: string
              format: date-time
              example: "2019-10-12T07:20:50Z"
              readOnly: true
              description: The date and time at which this task was created.
            error_code:
              type: integer
              nullable: true
            error_message:
              type: string
              nullable: true
            broker_tasks:
              $ref: "#/components/schemas/Relationship"

    BalancerStatusData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - status
            - any_uneven_load
            - broker_tasks
          properties:
            cluster_id:
              type: string
            status:
              $ref: "#/components/schemas/BalancerStatus"
            error_code:
              type: integer
              nullable: true
            error_message:
              type: string
              nullable: true
            any_uneven_load:
              $ref: "#/components/schemas/Relationship"
            broker_tasks:
              $ref: "#/components/schemas/Relationship"

    BrokerRemovalData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - broker_id
            - broker_task
            - broker
          properties:
            cluster_id:
              type: string
            broker_id:
              type: integer
            broker_task:
              $ref: "#/components/schemas/Relationship"
            broker:
              $ref: "#/components/schemas/Relationship"

    BrokerRemovalDataList:
      allOf:
        - $ref: "#/components/schemas/ResourceCollection"
        - type: object
          required:
            - data
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/BrokerRemovalData"

    BrokerTaskData:
      allOf:
        - $ref: "#/components/schemas/Resource"
        - type: object
          required:
            - cluster_id
            - broker_id
            - task_type
            - task_status
            - sub_task_statuses
            - created_at
            - updated_at
            - broker
          properties:
            cluster_id:
              type: string
            broker_id:
              type: integer
            task_type:
              $ref: "#/components/schemas/BrokerTaskType"
            task_status:
              $ref: "#/components/schemas/BrokerTaskStatus"
[...]
