---
openapi: 3.0.0
info:
  title: SQL API v1
  version: 0.0.1
  contact:
    name: Flink
    url: https://confluent.slack.com/app_redirect?channel=flink-ccloud
    email: flink-control-plane@confluent.io
  x-api-id: a19bfe13-af66-493b-930a-5b7664bf52b7
  x-audience: external-public
  x-tag-group: SQL API (%s)
  x-api-group: sql/v1

servers:
  - url: https://flink.region.provider.confluent.cloud
    description: Flink Compute Pool Endpoint

paths:
  # Connections API
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/connections:
    x-lifecycle-stage: Preview
    x-self-access: true
    x-request-access-name: SQL API v1
    get:
      x-lifecycle-stage: Preview
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: listSqlv1Connections
      summary: List of Connections
      description: |-
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

        Retrieve a sorted, filtered and paginated list of all Connections.
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: spec.connection_type
          in: query
          required: false
          schema:
            type: string
            x-extensible-enum: [AZUREML, AZUREOPENAI, A2A, ANTHROPIC, BEDROCK, CONFLUENT_JDBC, COSMOSDB, COUCHBASE, ELASTIC,
                                FIREWORKSAI, GOOGLEAI, MCP_SERVER, MONGODB, OPENAI, PINECONE, REST, S3VECTORS, SAGEMAKER, VERTEXAI]
          description: Filter the results by exact match for spec.connection_type
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            x-max-page-items: 500
          description: A pagination size for collection requests.
        - name: page_token
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: An opaque pagination token for collection requests.
      tags:
        - Connections (sql/v1)
      security:
        - resource-api-key: []
      responses:
        '200':
          description: Connections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.ConnectionList'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    post:
      x-lifecycle-stage: Preview
      x-self-access: false
      x-request-access-name: SQL API v1
      operationId: createSqlv1Connection
      summary: Create a Connection
      description: |-
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to create a Connection.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
      tags:
        - Connections (sql/v1)
      security:
        - resource-api-key: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/sql.v1.Connection'
                - type: object
                  required:
                    - spec
                    - name
                  properties:
                    spec:
                      type: object
                      required:
                        - endpoint
                        - connection_type
                        - auth_data

      responses:
        '201':
          description: A Connection has been successfully created.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
            Location:
              schema:
                type: string
                format: uri
                example: https://flink.region.provider.confluent.cloud/sql/v1/organizations/{organization_id}/environments/{environment_id}/connections/{name}
              description: Connection resource uri
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/sql.v1.Connection'
                  - type: object
                    required:
                      - spec
                    properties:
                      spec:
                        type: object
                        required:
                          - endpoint
                          - connection_type
                          - auth_data
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'

  /sql/v1/organizations/{organization_id}/environments/{environment_id}/connections/{connection_name}:
    x-lifecycle-stage: Preview
    x-self-access: true
    x-request-access-name: SQL API v1
    get:
      x-lifecycle-stage: Preview
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: getSqlv1Connection
      summary: Read a Connection
      description: |-
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to read a Connection.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: connection_name
          in: path
          required: true
          schema:
            type: string
          description: The user provided name of the Connection. Unique within a region within an org and env.
      tags:
        - Connections (sql/v1)
      security:
        - resource-api-key: []
      responses:
        '200':
          description: Connection.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/sql.v1.Connection'
                  - type: object
                    required:
                      - api_version
                      - kind
                      - metadata
                      - spec
                    properties:
                      spec:
                        type: object
                        required:
                          - connection_type
                          - endpoint
                          - auth_data
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    delete:
      x-lifecycle-stage: Preview
      x-self-access: false
      x-request-access-name: SQL API v1
      operationId: deleteSqlv1Connection
      summary: Delete a Connection
      description: |-
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to delete a statement.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: connection_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the connection.
      tags:
        - Connections (sql/v1)
      security:
        - resource-api-key: []
      responses:
        '200':
          description: A Connection has been deleted.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    put:
      x-lifecycle-stage: Preview
      x-self-access: false
      x-request-access-name: SQL API v1
      operationId: updateSqlv1Connection
      summary: Update a Connection
      description: |-
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to update a connection.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: connection_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the connection.
      tags:
        - Connections (sql/v1)
      security:
        - resource-api-key: []
      responses:
        '200':
          description: A Connection has been updated.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/sql.v1.Connection'
                - type: object
                  required:
                    - spec
                    - name
                    - metadata
                  properties:
                    spec:
                      type: object
                      required:
                        - auth_data
                    metadata:
                      type: object
                      required:
                        - resource_version

  # Statement Results API
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/statements/{name}/results:
    x-lifecycle-stage: General Availability
    x-self-access: true
    x-request-access-name: SQL API v1
    get:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: getSqlv1StatementResult
      summary: Read Statement Result
      description: |-
        [![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Read Statement Result.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the statement.
        - name: page_token
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: It contains the field offset in the CollectSinkFunction protocol. On the first request, it should be unset. The offset is assumed to start at 0.
      tags:
        - Statement Results (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '200':
          description: Statement Result.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/sql.v1.StatementResult'
                  - type: object
                    required:
                      - api_version
                      - kind
                      - metadata
                      - results
                    properties:
                      results:
                        type: object
                        required:
                          - data
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'

  # Statements API
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/statements:
    x-lifecycle-stage: General Availability
    x-self-access: true
    x-request-access-name: SQL API v1
    get:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: listSqlv1Statements
      summary: List of Statements
      description: |-
        [![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Retrieve a sorted, filtered, paginated list of all statements.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: spec.compute_pool_id
          in: query
          required: false
          schema:
            type: string
          example: lfcp-00000
          description: |-
            Filter the results by exact match for spec.compute_pool_id.
            When creating statements, if compute_pool_id is not specified, the statement will use the default compute pool. The default pool is automatically determined by the system.
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            x-max-page-items: 500
          description: A pagination size for collection requests.
        - name: page_token
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: An opaque pagination token for collection requests.
        - name: label_selector
          in: query
          required: false
          schema:
            type: string
          style: form
          explode: false
          description: A comma-separated label selector to filter the statements.
      tags:
        - Statements (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '200':
          description: Statements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.StatementList'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    post:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: createSqlv1Statement
      summary: Create a Statement
      description: |-
        [![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to create a statement.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
      tags:
        - Statements (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/sql.v1.Statement'
                - type: object
                  required:
                    - spec
                    - name
                  properties:
                    spec:
                      type: object
                      required:
                        - statement

      responses:
        '201':
          description: A Statement is being created.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
            Location:
              schema:
                type: string
                format: uri
                example: https://flink.region.provider.confluent.cloud/sql/v1/organizations/{organization_id}/environments/{environment_id}/statements/{name}
              description: Statement resource uri
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/sql.v1.Statement'
                  - type: object
                    required:
                      - spec
                      - status
                    properties:
                      spec:
                        type: object
                        required:
                          - statement_name
                          - statement
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/statements/{statement_name}:
    x-lifecycle-stage: General Availability
    x-self-access: true
    x-request-access-name: SQL API v1
    get:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: getSqlv1Statement
      summary: Read a Statement
      description: |-
        [![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to read a statement.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: statement_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the statement.
      tags:
        - Statements (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '200':
          description: Statement.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/sql.v1.Statement'
                  - type: object
                    required:
                      - api_version
                      - kind
                      - metadata
                      - spec
                      - status
                    properties:
                      spec:
                        type: object
                        required:
                          - statement_name
                          - statement
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    delete:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: deleteSqlv1Statement
      summary: Delete a Statement
      description: |-
        [![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to delete a statement.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: statement_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the statement.
      tags:
        - Statements (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '202':
          description: A Statement is being deleted.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    put:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: updateSqlv1Statement
      summary: Update a Statement
      description: |-
        [![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to update a statement.
        The request will fail with a 409 Conflict error if the Statement has changed since it was fetched.
        In this case, do a GET, reapply the modifications, and try the update again.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: statement_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the statement.
      tags:
        - Statements (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '202':
          description: A Statement is being updated.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/sql.v1.Statement'
                - type: object
                  required:
                    - spec
                    - name
                    - metadata
                  properties:
                    spec:
                      type: object
                      required:
                        - stopped
                    metadata:
                      type: object
                      required:
                        - resource_version
    patch:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: patchSqlv1Statement
      summary: Patch a Statement
      description: |-
        [![Early Access](https://img.shields.io/badge/Lifecycle%20Stage-Early%20Access-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to patch a statement.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: statement_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the statement.
      tags:
        - Statements (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchRequest'
      responses:
        '200':
          description: Patched Statement.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/sql.v1.Statement'
                  - type: object
                    required:
                      - spec
                      - status
                    properties:
                      spec:
                        type: object
                        required:
                          - statement_name
                          - statement
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'

  # Exceptions API
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/statements/{statement_name}/exceptions:
    x-lifecycle-stage: General Availability
    x-self-access: true
    x-request-access-name: SQL API v1
    get:
      x-lifecycle-stage: General Availability
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: getSqlv1StatementExceptions
      summary: List of Statement Exceptions
      description: |-
        [![General Availability](https://img.shields.io/badge/Lifecycle%20Stage-General%20Availability-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

        Retrieve a list of the 10 most recent statement exceptions.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: statement_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the statement.
      tags:
        - Statement Exceptions (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '200':
          description: Statement Exceptions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.StatementExceptionList'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'

  # List Materialized Tables
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/materialized-tables:
    get:
      x-lifecycle-stage: Preview
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: listSqlv1MaterializedTables
      summary: List all materialized tables
      description: |
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300af91)](#section/Versioning/API-Lifecycle-Policy)
        
        Retrieve a sorted and paginated list of all materialized tables.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 10
            maximum: 100
          description: A pagination size for collection requests.
        - name: page_token
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: An opaque pagination token for collection requests.
      tags:
        - Materialized Tables (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '200':
          description: A list of Materialized Tables.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.MaterializedTableList'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'

  # Create a materialized table
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/materialized-tables:
    post:
      x-lifecycle-stage: Preview
      operationId: createSqlv1MaterializedTable
      summary: Create a materialized table
      description: |
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300af91)](#section/Versioning/API-Lifecycle-Policy)

        Create a new Materialized Table.
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the organization
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - in: path
          name: kafka_cluster_id
          required: true
          schema:
            type: string
          description: The unique identifier for the database.
      tags:
        - Materialized Tables (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/sql.v1.MaterializedTable'
                - type: object
                  required:
                    - name
                    - spec
                  properties:
                    spec:
                      type: object
                      required:
                        - query
      responses:
        '201':
          description: Materialized Table is being created
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
            Location:
              schema:
                type: string
                format: uri
                example: https://flink.region.provider.confluent.cloud/sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/materialized-tables/{table_name}
              description: Materialized Table uri
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/sql.v1.MaterializedTable'
                  - type: object
                    required:
                      - spec
                      - status
                    properties:
                      spec:
                        type: object
                        required:
                          - query
                          - compute_pool_id
                          - principal
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
  # Get, Update, and Delete a specific Materialized Table
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/materialized-tables/{table_name}:
    get:
      x-lifecycle-stage: Preview
      operationId: getSqlv1MaterializedTable
      summary: Read a materialized table
      description: |
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300af91)](#section/Versioning/API-Lifecycle-Policy)

        Retrieve a specific Materialized Table by name.
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the organization
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - in: path
          name: kafka_cluster_id
          required: true
          schema:
            type: string
          description: The unique identifier for the database.
        - name: table_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the Materialized Table
      tags:
        - Materialized Tables (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '200':
          description: The requested Materialized Table.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.MaterializedTable'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    put:
      x-lifecycle-stage: Preview
      operationId: updateSqlv1MaterializedTable
      summary: Update/Evolve a materialized table
      description: |
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300af91)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to update a Materialized Table's mutable fields.
        Mutable fields include: `query`, `stopped`, `compute_pool_id`, and `principal`.
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the organization
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - in: path
          name: kafka_cluster_id
          required: true
          schema:
            type: string
          description: The unique identifier for the database.
        - name: table_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the Materialized Table
      tags:
        - Materialized Tables (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        description: The Materialized Table resource with updated spec fields.
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/sql.v1.MaterializedTable'
                - type: object
                  required:
                    - spec
                    - name
                    - metadata
                  properties:
                    metadata:
                      type: object
                      required:
                        - resource_version
      responses:
        '201':
          description: Materialized Table update accepted.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.MaterializedTable'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    delete:
      x-lifecycle-stage: Preview
      operationId: deleteSqlv1MaterializedTable
      summary: Delete a materialized table
      description: |
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300af91)](#section/Versioning/API-Lifecycle-Policy)

        Delete a specific Materialized Table by name.
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the organization
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - in: path
          name: kafka_cluster_id
          required: true
          schema:
            type: string
          description: The unique identifier for the database.
        - name: table_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the Materialized Table
      tags:
        - Materialized Tables (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '202':
          description: A Materialized Table is being deleted.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'

  # Materialized Table Versions API
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/materialized-tables/{table_name}/versions:
    get:
      x-lifecycle-stage: Preview
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: listSqlv1MaterializedTableVersions
      summary: List all the versions of a materialized table
      description: |
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300af91)](#section/Versioning/API-Lifecycle-Policy)

        Retrieve a sorted and paginated list of all versions for a specific Materialized Table.
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - in: path
          name: kafka_cluster_id
          required: true
          schema:
            type: string
          description: The unique identifier for the database.
        - in: path
          name: table_name
          required: true
          schema:
            type: string
          description: The unique identifier for the Materialized Table.
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 10
            maximum: 100
          description: A pagination size for collection requests.
        - name: page_token
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: An opaque pagination token for collection requests.
      tags:
        - Materialized Table Versions (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '200':
          description: A list of Materialized Table Versions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.MaterializedTableVersionList'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'

  /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/materialized-tables/{table_name}/versions/{version}:
    get:
      x-lifecycle-stage: Preview
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: getSqlv1MaterializedTableVersion
      summary: Read a materialized table version
      description: |
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300af91)](#section/Versioning/API-Lifecycle-Policy)

        Retrieve a specific version of a Materialized Table.
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - in: path
          name: kafka_cluster_id
          required: true
          schema:
            type: string
          description: The unique identifier for the database.
        - in: path
          name: table_name
          required: true
          schema:
            type: string
          description: The unique identifier for the Materialized Table.
        - in: path
          name: version
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
          description: The version number of the Materialized Table.
      tags:
        - Materialized Table Versions (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '200':
          description: The requested Materialized Table Version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.MaterializedTableVersion'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
  # List Agents
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/agents:
    get:
      x-lifecycle-stage: Preview
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: listSqlv1Agents
      summary: List all agents
      description: |
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300af91)](#section/Versioning/API-Lifecycle-Policy)
        
        Retrieve a sorted and paginated list of all agents.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 10
            maximum: 100
          description: A pagination size for collection requests.
        - name: page_token
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: An opaque pagination token for collection requests.
      tags:
        - Agents (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '200':
          description: A list of Agents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.AgentList'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'

  # Create an agent
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/agents:
    post:
      x-lifecycle-stage: Preview
      operationId: createSqlv1Agent
      summary: Create an Agent
      description: |
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300af91)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to create an Agent.
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the organization
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - in: path
          name: kafka_cluster_id
          required: true
          schema:
            type: string
          description: The unique identifier for the database.
      tags:
        - Agents (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/sql.v1.Agent'
                - type: object
                  required:
                    - name
                    - spec
                  properties:
                    spec:
                      type: object
                      required:
                        - model
                        - prompt
      responses:
        '200':
          description: Agent.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
            Location:
              schema:
                type: string
                format: uri
                example: https://flink.region.provider.confluent.cloud/sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/agents/{agent_name}
              description: Agent uri
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/sql.v1.Agent'
                  - type: object
                    required:
                      - name
                      - spec
                    properties:
                      spec:
                        type: object
                        required:
                          - model
                          - prompt
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
  # Get, Update, and Delete a specific Agent
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{kafka_cluster_id}/agents/{agent_name}:
    get:
      x-lifecycle-stage: Preview
      operationId: getSqlv1Agent
      summary: Read an Agent
      description: |
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300af91)](#section/Versioning/API-Lifecycle-Policy)

        Retrieve a specific Agent by name.
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the organization
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - in: path
          name: kafka_cluster_id
          required: true
          schema:
            type: string
          description: The unique identifier for the database.
        - name: agent_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the Agent
      tags:
        - Agents (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '200':
          description: The requested Agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.Agent'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    put:
      x-lifecycle-stage: Preview
      operationId: updateSqlv1Agent
      summary: Alter an Agent
      description: |
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300af91)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to update an Agent's mutable fields.
        Mutable fields include: `description`, `model`, `prompt`, and `properties`.
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the organization
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - in: path
          name: kafka_cluster_id
          required: true
          schema:
            type: string
          description: The unique identifier for the database.
        - name: agent_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the Agent
      tags:
        - Agents (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      requestBody:
        description: The Agent resource with updated spec fields.
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/sql.v1.Agent'
                - type: object
                  required:
                    - spec
                    - name
                    - metadata
                  properties:
                    metadata:
                      type: object
                      required:
                        - resource_version
      responses:
        '200':
          description: Agent has been updated.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.Agent'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    delete:
      x-lifecycle-stage: Preview
      operationId: deleteSqlv1Agent
      summary: Delete an Agent
      description: |
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300af91)](#section/Versioning/API-Lifecycle-Policy)

        Delete a specific Agent by name.
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the organization
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - in: path
          name: kafka_cluster_id
          required: true
          schema:
            type: string
          description: The unique identifier for the database.
        - name: agent_name
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the Agent
      tags:
        - Agents (sql/v1)
      security:
        - resource-api-key: []
        - external-access-token: []
      responses:
        '200':
          description: A Agent has been deleted.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'


  # Tools API
  /sql/v1/organizations/{organization_id}/environments/{environment_id}/tools:
    x-lifecycle-stage: Preview
    x-self-access: true
    x-request-access-name: SQL API v1
    post:
      x-lifecycle-stage: Preview
      x-self-access: false
      x-request-access-name: SQL API v1
      operationId: createSqlv1Tool
      summary: Create a Tool
      description: |-
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to create a Tool.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
      tags:
        - Tools (sql/v1)
      security:
        - resource-api-key: []
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/sql.v1.Tool'
                - type: object
                  required:
                    - name
                    - spec
                  properties:
                    spec:
                      type: object
                      required:
                        - connection

      responses:
        '201':
          description: A Tool has been successfully created.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
            Location:
              schema:
                type: string
                format: uri
                example: https://flink.region.provider.confluent.cloud/sql/v1/organizations/{organization_id}/environments/{environment_id}/tools/{name}
              description: Tool resource uri
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/sql.v1.Tool'
                  - type: object
                    required:
                      - name
                      - spec
                    properties:
                      spec:
                        type: object
                        required:
                          - connection
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'

  /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{database_name}/tools:
    x-lifecycle-stage: Preview
    x-self-access: true
    x-request-access-name: SQL API v1
    get:
      x-lifecycle-stage: Preview
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: listSqlv1Tools
      summary: List of Tools
      description: |-
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

        Retrieve a sorted, filtered, paginated list of all Tools.
      parameters:
        - in: path
          name: organization_id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - in: path
          name: database_name
          required: true
          schema:
            type: string
          description: The name of the database.
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
            x-max-page-items: 500
          description: A pagination size for collection requests.
        - name: page_token
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
          description: An opaque pagination token for collection requests.
      tags:
        - Tools (sql/v1)
      security:
        - resource-api-key: []
      responses:
        '200':
          description: Tools.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sql.v1.ToolList'
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'

  /sql/v1/organizations/{organization_id}/environments/{environment_id}/databases/{database_name}/tools/{tool_name}:
    x-lifecycle-stage: Preview
    x-self-access: true
    x-request-access-name: SQL API v1
    get:
      x-lifecycle-stage: Preview
      x-self-access: true
      x-request-access-name: SQL API v1
      operationId: getSqlv1Tool
      summary: Read a Tool
      description: |-
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to read a Tool.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: database_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the database.
        - name: tool_name
          in: path
          required: true
          schema:
            type: string
          description: The user provided name of the Tool.
      tags:
        - Tools (sql/v1)
      security:
        - resource-api-key: []
      responses:
        '200':
          description: Tool.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/sql.v1.Tool'
                  - type: object
                    required:
                      - api_version
                      - kind
                      - metadata
                      - name
                      - spec
                    properties:
                      spec:
                        type: object
                        required:
                          - connection
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'
    delete:
      x-lifecycle-stage: Preview
      x-self-access: false
      x-request-access-name: SQL API v1
      operationId: deleteSqlv1Tool
      summary: Delete a Tool
      description: |-
        [![Preview](https://img.shields.io/badge/Lifecycle%20Stage-Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

        Make a request to delete a Tool.
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
            format: uuid
          required: true
          description: The unique identifier for the organization.
        - in: path
          name: environment_id
          required: true
          schema:
            type: string
          description: The unique identifier for the environment.
        - name: database_name
          in: path
          required: true
          schema:
            type: string
          description: The name of the database.
        - name: tool_name
          in: path
          required: true
          schema:
            type: string
          description: The user provided name of the Tool.
      tags:
        - Tools (sql/v1)
      security:
        - resource-api-key: []
      responses:
        '200':
          description: A Tool has been deleted.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: The unique identifier for the API request.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthenticatedError'
        '403':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/DefaultSystemError'

components:
  schemas:
    sql.v1.MaterializedTable:
      type: object
      description: Represents a Materialized Table resource.
      required:
        - api_version
        - kind
        - metadata
        - name
        - organization_id
        - environment_id
        - spec
      properties:
        api_version:
          type: string
          enum:
            - sql/v1
          description: APIVersion defines the schema version of this representation of a resource.
          example: sql/v1
          readOnly: true
        kind:
          type: string
          description: Kind defines the object this REST resource represents.
          enum:
            - MaterializedTable
          readOnly: true
        metadata:
          allOf:
            - $ref: '#/components/schemas/ObjectMeta'
            - type: object
              properties:
                self:
                  example: https://flink.us-west1.aws.confluent.cloud/sql/v1/environments/env-123/databases/lkc-123/materialized-tables/high-value-orders
                uid:
                  example: 12345678-1234-1234-1234-123456789012
                resource_version:
                  example: a23av
                resource_name:
                  example: ""
                labels:
                  type: object
                  additionalProperties:
                    type: string
        name:
          type: string
          description: The user-provided name of the resource, unique within this environment.
          pattern: '[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*'
          maxLength: 100
          example: "high-value-orders"
          x-immutable: true
        organization_id:
          type: string
          format: uuid
          description: The unique identifier for the organization.
          x-immutable: true
          readOnly: true
        environment_id:
          type: string
          description: The unique identifier for the environment.
          x-immutable: true
          readOnly: true
        spec:
          $ref: '#/components/schemas/sql.v1.MaterializedTableSpec'
        status:
          readOnly: true
          allOf:
            - $ref: '#/components/schemas/sql.v1.MaterializedTableStatus'

    sql.v1.MaterializedTableList:
      type: object
      description: A list of Materialized Table resources.
      required:
        - api_version
        - kind
        - metadata
        - data
      properties:
        api_version:
          type: string
          enum:
            - sql/v1
          readOnly: true
        kind:
          type: string
          enum:
            - MaterializedTableList
          readOnly: true
        metadata:
          $ref: '#/components/schemas/ListMeta'
        data:
          type: array
          description: A data property that contains an array of resource items. Each entry in the array is a separate resource.
          items:
            $ref: '#/components/schemas/sql.v1.MaterializedTable'
          uniqueItems: true

    sql.v1.MaterializedTableSpec:
      type: object
      description: The specifications of the Materialized Table.
      properties:
        kafka_cluster_id:
          type: string
          description: The ID of Kafka cluster hosting the Materialized Table's topic. Populated from the `kafka_cluster_id` path parameter on creation.
          example: "lkc-12345"
          readOnly: true # Populated from path
        compute_pool_id:
          type: string
          description: |-
            The id associated with the compute pool in context.
            If not specified, the materialized table will use the default compute pool. The default pool is automatically determined by the system.
          example: "lfcp-123"
        principal:
          type: string
          description: The id of a principal this Materialized Table query runs as.
          example: "sa-abc123"
          maxLength: 255
        stopped:
          type: boolean
          description: Indicates whether the Materialized Table query should be stopped.
          example: false
        table_options:
          type: object
          description: Defines configuration properties for the table, equivalent to the SQL 'WITH' clause
          additionalProperties:
            type: string
          maxProperties: 8192
        session_options:
          type: object
          description: Session configurations equivalent to the SQL 'SET' statement.
          additionalProperties:
            type: string
          maxProperties: 8192
        columns:
          type: array
          description: Details of each column in Materialized Table resource. If columns are not specified, we infer from query. If it's specified it must be compatible with the types in the query.
          items:
            $ref: '#/components/schemas/sql.v1.MaterializedTableColumnDetails'
        watermark:
          $ref: '#/components/schemas/sql.v1.MaterializedTableWatermark'
        constraints:
          type: array
          description: Specify table constraints.
          items:
            $ref: '#/components/schemas/sql.v1.MaterializedTableConstraint'
        distributed_by:
          $ref: '#/components/schemas/sql.v1.MaterializedTableDistribution'
        query:
          type: string
          description: Contains the query section (usually starting with a SELECT) of the latest Materialized Table.
          example: "SELECT user_id, product_id, price, quantity FROM orders WHERE price > 1000;"
          maxLength: 131072

    sql.v1.MaterializedTableStatus:
      type: object
      description: The status of the Materialized Table.
      properties:
        phase:
          type: string
          x-extensible-enum: [PENDING, RUNNING, COMPLETED, DELETING, FAILING, FAILED, CREATING, ALTERING, DEGRADED, STOPPING, STOPPED]
          description: The lifecycle phase of the materialized table.
          example: RUNNING
        detail:
          type: string
          description: Optional. Human-readable description of phase.
          example: "Materialized table is running."
        warnings:
          type: array
          description: List of warnings encountered during materialized table execution.
          items:
            $ref: '#/components/schemas/sql.v1.MaterializedTableWarning'
        creation_statement:
          type: string
          description: Entire Materialized Table statement as submitted by user e.g CREATE OR ALTER MATERIALIZED TABLE ...
          example: "CREATE OR ALTER MATERIALIZED TABLE high-value-orders AS SELECT user_id, product_id, price, quantity FROM orders WHERE price > 1000;"
        scaling_status:
          $ref: '#/components/schemas/sql.v1.ScalingStatus'
        version:
          type: integer
          format: int32
          minimum: 1
          description: Represents the evolution history of the Materialized Table. The current value indicates the latest version.
          example: 3

    sql.v1.MaterializedTableVersion:
      type: object
      description: Represents a specific version of a Materialized Table resource.
      required:
        - api_version
        - kind
        - metadata
        - name
        - organization_id
        - environment_id
        - spec
      properties:
        api_version:
          type: string
          enum:
            - sql/v1
          description: APIVersion defines the schema version of this representation of a resource.
          example: sql/v1
          readOnly: true
        kind:
          type: string
          description: Kind defines the object this REST resource represents.
          enum:
            - MaterializedTableVersion
          readOnly: true
        metadata:
          allOf:
            - $ref: '#/components/schemas/ObjectMeta'
            - type: object
              properties:
                self:
                  example: https://flink.us-west1.aws.confluent.cloud/sql/v1/organizations/org-123/environments/env-123/databases/lkc-123/materialized-tables/high-value-orders/versions/4
        name:
          type: string
          description: |
            The resource version name, unique within the Kafka cluster.
            Name conforms to DNS Subdomain (RFC 1123).
          pattern: '[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*'
          maxLength: 100
          example: "mt-123-v4"
          readOnly: true
        organization_id:
          type: string
          format: uuid
          description: The unique identifier for the organization.
          x-immutable: true
          readOnly: true
        environment_id:
          type: string
          description: The unique identifier for the environment.
          x-immutable: true
          readOnly: true
        spec:
          $ref: '#/components/schemas/sql.v1.MaterializedTableVersionSpec'

    sql.v1.MaterializedTableVersionList:
      type: object
      description: A list of Materialized Table Version resources.
      required:
        - api_version
        - kind
        - metadata
        - data
      properties:
        api_version:
          type: string
          enum:
            - sql/v1
          readOnly: true
        kind:
          type: string
          enum:
            - MaterializedTableVersionList
          readOnly: true
        metadata:
          $ref: '#/components/schemas/ListMeta'
        data:
          type: array
          description: A data property that contains an array of resource items. Each entry in the array is a separate resource.
          items:
            $ref: '#/components/schemas/sql.v1.MaterializedTableVersion'
          uniqueItems: true

    sql.v1.MaterializedTableVersionSpec:
      type: object
      description: The specifications of the Materialized Table Version.
      required:
        - version
        - statement
      properties:
        version:
          type: integer
          format: int32
          minimum: 1
          description: The version number of the Materialized Table.
          example: 4
          readOnly: true
        statement:
          type: string
          description: |
            The full SQL statement for the materialized table as generated by SHOW CREATE MATERIALIZED TABLE at the time of the evolution.
          example: "CREATE OR ALTER MATERIALIZED TABLE orders AS SELECT user_id, product_id, price FROM orders;"
          readOnly: true
          maxLength: 131072
        changes:
          type: array
          description: Changes affecting resources since the previous version.
          items:
            $ref: '#/components/schemas/sql.v1.ResourceChange'
          readOnly: true

    sql.v1.ResourceChange:
      type: object
      description: Details of a change to a specific resource.
      required:
        - kind
        - environment_locator
        - database_locator
        - name
        - details
      properties:
        kind:
          type: string
          x-extensible-enum: [MATERIALIZED_TABLE, TABLE, VIEW, FUNCTION]
          description: The type of resource that was changed.
          example: MATERIALIZED_TABLE
        environment_locator:
          type: string
          description: The environment containing the resource. Can be either the environment name or ID, depending on how it is referenced in the SQL statement text.
          example: "env-abc"
        database_locator:
          type: string
          description: The database containing the resource. Can be either the database name or ID, depending on how it is referenced in the SQL statement text.
          example: "lkc-123"
        name:
          type: string
          description: The name of the resource, unique within its scope (environment and database).
          example: "orders"
        details:
          type: array
          description: Human-readable descriptions of the changes made to this resource.
          items:
            type: string
          example: ["Column 'product_name: VARCHAR' added", "Column 'product_id: BIGINT' added"]
      readOnly: true

    sql.v1.MaterializedTableColumnDetails:
      type: object
      description: Details of a column in the Materialized Table.
      discriminator:
        propertyName: kind
        mapping:
          Physical: '#/components/schemas/sql.v1.PhysicalColumn'
          Metadata: '#/components/schemas/sql.v1.MetadataColumn'
          Computed: '#/components/schemas/sql.v1.ComputedColumn'
      oneOf:
        - $ref: '#/components/schemas/sql.v1.PhysicalColumn'
        - $ref: '#/components/schemas/sql.v1.MetadataColumn'
        - $ref: '#/components/schemas/sql.v1.ComputedColumn'

    sql.v1.ColumnCommon:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
          description: The name of the column.
        type:
          $ref: '#/components/schemas/DataType'
        comment:
          type: string
          description: A comment or description for the column.

    sql.v1.PhysicalColumn:
      description: Physical columns define the structure of the table and the data types of its fields.
      allOf:
        - $ref: '#/components/schemas/sql.v1.ColumnCommon'
        - type: object
          required:
            - kind
          properties:
            name:
              example: user_id
            type:
              example:
                type: "BIGINT"
                nullable: false
            kind:
              type: string
              description: The kind of column.
              enum: [Physical]
              example: Physical

    sql.v1.MetadataColumn:
      description: Metadata columns reference system properties.
      allOf:
        - $ref: '#/components/schemas/sql.v1.ColumnCommon'
        - type: object
          required:
            - kind
            - metadata_key
          properties:
            name:
              example: table_offset
            type:
              example:
                type: "BIGINT"
                nullable: false
            kind:
              type: string
              description: The kind of column.
              enum: [Metadata]
              example: Metadata
            metadata_key:
              type: string
              description: The system metadata key to reference.
              example: "offset"
            virtual:
              type: boolean
              description: Indicates if the metadata column is virtual.
              default: false
              example: true

    sql.v1.ComputedColumn:
      description: Computed columns are generated via an expression.
      allOf:
        - $ref: '#/components/schemas/sql.v1.ColumnCommon'
        - type: object
          required:
            - kind
            - expression
          properties:
            name:
              example: total_price
            type:
              example:
                type: "DECIMAL"
                nullable: false
                precision: 10
                scale: 2
            kind:
              type: string
              description: The kind of column.
              enum: [Computed]
              example: Computed
            expression:
              type: string
              description: The SQL expression used to compute the column value.
              example: "quantity * price"
            virtual:
              type: boolean
              description: Indicates if the computed column is virtual.
              default: false
              example: true

    sql.v1.MaterializedTableWatermark:
      type: object
      description: Watermark strategy for the Materialized Table resource.
      properties:
        column_name:
          type: string
          example: "event_timestamp"
        expression:
          type: string
          example: "event_timestamp - INTERVAL '5' SECOND"

    sql.v1.MaterializedTableConstraint:
      type: object
      description: A constraint on the materialized table.
      properties:
        name:
          type: string
          example: "pk_orders"
        kind:
          type: string
          x-extensible-enum: [PRIMARY_KEY]
          description: The type of constraint.
          example: PRIMARY_KEY
        column_names:
          type: array
          items:
            type: string
          example: ["user_id", "product_id"]
        enforced:
          type: boolean
          description: Whether the constraint is enforced.
          default: false

    sql.v1.MaterializedTableDistribution:
      type: object
      description: Distribution (bucket by) strategy.
      properties:
        column_names:
          type: array
          items:
            type: string
          example: ["user_id"]
        buckets:
          type: integer
          format: int32
          minimum: 1
          default: 6
          description: The number of buckets.
          example: 12
    sql.v1.MaterializedTableWarning:
      type: object
      description: Represents a non-fatal issue encountered during materialized table processing.
      allOf:
        - $ref: '#/components/schemas/sql.v1.StatementWarning'

    sql.v1.Connection:
      type: object
      description: |-
        `Connection` models a reusable endpoint and auth token to authenticate the caller to
        use that endpoint.
        Only `OrganizationAdmins` and `EnvironmentAdmins` will have the permissions to create, update and delete `Connections`.
        `FlinkDevelopers` and `ModelResourceOwners` can later reference a `Connection` resource within their Model
        creation statements.
        The API allows you to list, create, read, and delete your connections.
        ## The Connections Model
        <SchemaDefinition schemaRef="#/components/schemas/sql.v1.Connection" />
      properties:
        api_version:
          type: string
          enum:
            - sql/v1
          description: APIVersion defines the schema version of this representation of a resource.
          example: sql/v1
          readOnly: true
        kind:
          type: string
          description: Kind defines the object this REST resource represents.
          enum:
            - Connection
          readOnly: true
        metadata:
          allOf:
            - $ref: '#/components/schemas/ObjectMeta'
            - properties:
                self:
                  example: https://flink.us-west1.aws.confluent.cloud/sql/v1/organizations/org-abc/environments/env-123/connections/my-openai-connection
                uid:
                  example: 12345678-1234-1234-1234-123456789012
                resource_version:
                  example: a23av
                resource_name:
                  example: ""
        name:
          type: string
          example: my-openai-connection
          description: The user provided name of the resource, unique within this environment.
          pattern: '[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*'
          x-immutable: true
          maxLength: 100
        spec:
          $ref: '#/components/schemas/sql.v1.ConnectionSpec'
        status:
          $ref: '#/components/schemas/sql.v1.ConnectionStatus'

    sql.v1.ConnectionList:
      type: object
      description: |-
        `Connection` models a reusable endpoint and auth token to authenticate the caller to
        use that endpoint.
        Only `OrgAdmins` and `EnvAdmins` will have the permissions to create, update and delete `Connections`.
        `FlinkDevelopers` and `ModelResourceOwners` can later reference a `Connection` resource within their Model
        creation statements.
        The API allows you to list, create, read, and delete your connections.
        ## The Connection Model
        <SchemaDefinition schemaRef="#/components/schemas/sql.v1.Connection" />
      required:
        - api_version
        - kind
        - metadata
        - data
      properties:
        api_version:
          type: string
          enum:
            - sql/v1
          description: APIVersion defines the schema version of this representation of a resource.
          example: sql/v1
        kind:
          type: string
          description: Kind defines the object this REST resource represents.
          enum:
            - ConnectionList
        metadata:
          allOf:
            - $ref: '#/components/schemas/ListMeta'
            - properties:
                self:
                  example: https://flink.us-west1.aws.confluent.cloud/sql/v1/environments/env-123/connections
                first:
                  example: https://flink.us-west1.aws.confluent.cloud/sql/v1/environments/env-abc123/connections
                last:
                  example: ""
                prev:
                  example: ""
                next:
                  example: https://flink.us-west1.aws.confluent.cloud/sql/v1/environments/env-abc123/connections?page_token=UvmDWOB1iwfAIBPj6EYb
        data:
          type: array
          description: A data property that contains an array of resource items. Each entry in the array is a separate resource.
          items:
            allOf:
              - $ref: '#/components/schemas/sql.v1.Connection'
              - type: object
                required:
                  - api_version
                  - kind
                  - metadata
                  - spec
                  - status
                  - name
                  - organization_id
                  - environment_id
                properties:
                  spec:
                    type: object
                    required:
                      - connection_type
                      - endpoint
          uniqueItems: true

    sql.v1.ConnectionStatus:
      type: object
      required:
        - phase
      description: The status of the Connection
      properties:
        phase:
          type: string
          x-extensible-enum: [ACTIVE, UNREACHABLE, INVALID_AUTH]
          description: |
            Describes the status of the connection:

            READY: The Connection is usable;

            UNREACHABLE: The Connection endpoint is unreachable;

            INVALID_AUTH: The Connection auth token is invalid;
          example: READY
          readOnly: true
        detail:
          type: string
          description: Details about why connection transitioned into a given status.
          example: 'Lookup failed: ai.openai.com'
          readOnly: true
      readOnly: true

    sql.v1.PlaintextProvider:
      type: object
      description: |
        Describes a sensitive piece of information passed in plaintext.

        Confluent only accepts authentication tokens of supported model providers from OrgAdmins and EnvAdmins.
        For now, only 'PlainText' provider is supported. It stores authentication token details as opaque bytes in an encrypted form.
        This option offers limited security as it only provides a single level of encryption.
      properties:
        kind:
          description: |
            Plaintext Provider Kind Type
          type: string
          enum: [PlaintextProvider]
          x-immutable: true
        data:
          description: |
            Authentication token in plaintext JSON string.
            For composite tokens, provide them as JSON.
            This is sensitive piece of information stored as opaque bytes in an encrypted form with single level of encryption.

            Scoped to an endpoint of a `Connection` resource.
          type: string
          format: byte

    sql.v1.ConnectionSpec:
      type: object
      description: Encapsulates the model provider access details
      properties:
        connection_type:
          type: string
          example: OPENAI
          description: The type of this connection.
          x-immutable: true
          x-extensible-enum: [AZUREML, AZUREOPENAI, A2A, ANTHROPIC, BEDROCK, CONFLUENT_JDBC, COSMOSDB, COUCHBASE, ELASTIC,
                              FIREWORKSAI, GOOGLEAI, MCP_SERVER, MONGODB, OPENAI, PINECONE, REST, S3VECTORS, SAGEMAKER, VERTEXAI]
        endpoint:
          type: string
          example: 'https://api.openai.com/v1/chat/completions'
          description: The endpoint that is used to run model inferencing.
          maxLength: 16384
          x-immutable: true
        auth_data:
          type: object
          description: |
            The vendor specific authentication token details

            The contents are stored as opaque bytes given in plaintext by an EnvAdmin.
            In future, we would support more secure methods for distributing authentication tokens.
          discriminator:
            propertyName: kind
            mapping:
              PlaintextProvider: '#/components/schemas/sql.v1.PlaintextProvider'
          oneOf:
            - $ref: '#/components/schemas/sql.v1.PlaintextProvider'
          x-immutable: false
      x-enable-listmeta: true
      x-enable-objectmeta: true


    sql.v1.Agent:
      type: object
      description: Represents an Agent resource.
      required:
        - api_version
        - kind
        - metadata
        - name
        - organization_id
        - environment_id
        - spec
      properties:
        api_version:
          type: string
          enum:
            - sql/v1
          description: APIVersion defines the schema version of this representation of a resource.
          example: sql/v1
          readOnly: true
        kind:
          type: string
[...]
