---
openapi: 3.0.1
info:
  title: Confluent Schema Registry APIs
  description: REST API for the Schema Registry
  contact:
    name: Data Governance Team
  version: 1.0.0
  x-api-id: cbdaa8a3-56f3-4de9-95a5-b4b61172ea3a
  x-api-group: v1
  x-audience: external-public
  x-tag-group: Schema Registry API (%s)
servers:
  - url: https://psrc-00000.region.provider.confluent.cloud
    description: Confluent Cloud Schema Registry Endpoint.
tags:
  - name: Compatibility (v1)
    description: |-
      [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

      The API allows you to test schema compatibility.

      Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  - name: Config (v1)
    description: |-
      [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

      The API allows you to manage and query schema compatibility settings and cluster configurations.

      Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  - name: Contexts (v1)
    description: |-
      [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

      The API allows you to retrieve information about schema contexts.

      Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  - name: Exporters (v1)
    description: |-
      [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

      The API allows you to create, retrieve, update, and delete exporters.

      Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  - name: Modes (v1)
    description: |-
      [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

      The API allows you to create, retrieve, update, and delete schema subjects modes of operation.

      Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  - name: Schemas (v1)
    description: |-
      [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

      The API allows you to create, retrieve, update, and delete schemas.

      Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  - name: Subjects (v1)
    description: |-
      [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

      The API allows you to create, retrieve, update, and delete schema subjects and versions.

      Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  - name: Key Encryption Keys (v1)
    description: |-
      [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

      The API allows you to create, retrieve, update, and delete key encryption keys.

      Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
  - name: Data Encryption Keys (v1)
    description: |-
      [![Generally Available](https://img.shields.io/badge/Lifecycle%20Stage-Generally%20Available-%2345c6e8)](#section/Versioning/API-Lifecycle-Policy)

      The API allows you to create, retrieve, update, and delete data encryption keys.

      Related guide: [Manage Schemas in Confluent Cloud](https://docs.confluent.io/cloud/current/sr/schemas-manage.html#manage-schemas-in-ccloud).
# Paths
paths:
  /clusterconfig:
    get:
      tags:
        - Config (v1)
      summary: Get cluster config
      description: Retrieves cluster config information.
      operationId: getClusterConfig
      responses:
        "200":
          description: The cluster config
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ClusterConfig"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ClusterConfig"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ClusterConfig"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/schemaregistry.v1.DefaultSystemError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /compatibility/subjects/{subject}/versions/{version}:
    post:
      tags:
        - Compatibility (v1)
      summary: Test schema compatibility against a particular schema subject-version
      description: "Test input schema against a particular version of a subject's\
        \ schema for compatibility. The compatibility level applied for the check\
        \ is the configured compatibility level for the subject (http:get:: /config/(string:\
        \ subject)). If this subject's compatibility level was never changed, then\
        \ the global compatibility level applies (http:get:: /config)."
      operationId: testCompatibilityBySubjectName
      parameters:
        - name: subject
          in: path
          description: Subject of the schema version against which compatibility is to be tested
          required: true
          schema:
            type: string
        - name: version
          in: path
          description: "Version of the subject's schema against which compatibility\
            \ is to be tested. Valid values for versionId are between [1,2^31-1] or\
            \ the string \"latest\".\"latest\" checks compatibility of the input schema\
            \ with the last registered schema under the specified subject"
          required: true
          schema:
            type: string
        - name: verbose
          in: query
          description: Whether to return detailed error messages
          schema:
            type: boolean
      requestBody:
        description: Schema
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: "#/components/schemas/RegisterSchemaRequest"
          application/vnd.schemaregistry+json:
            schema:
              $ref: "#/components/schemas/RegisterSchemaRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterSchemaRequest"
          application/octet-stream:
            schema:
              $ref: "#/components/schemas/RegisterSchemaRequest"
        required: true
      responses:
        "200":
          description: Compatibility check result.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/CompatibilityCheckResponse"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/CompatibilityCheckResponse"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/CompatibilityCheckResponse"
        "404":
          description:
            Not Found. Error code 40401 indicates subject not found. Error code 40402 indicates
            version not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "422":
          description:
            Unprocessable entity. Error code 42201 indicates an invalid schema or schema type. Error
            code 42202 indicates an invalid version.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /compatibility/subjects/{subject}/versions:
    post:
      tags:
        - Compatibility (v1)
      summary: Test schema compatibility against all schemas under a subject
      description: "Test input schema against a subject's schemas for compatibility,\
        \ based on the configured compatibility level of the subject. In other words,\
        \ it will perform the same compatibility check as register for that subject.\
        \ The compatibility level applied for the check is the configured compatibility\
        \ level for the subject (http:get:: /config/(string: subject)). If this subject's\
        \ compatibility level was never changed, then the global compatibility level\
        \ applies (http:get:: /config)."
      operationId: testCompatibilityForSubject
      parameters:
        - name: subject
          in: path
          description: Subject of the schema version against which compatibility is to be tested
          required: true
          schema:
            type: string
        - name: verbose
          in: query
          description: Whether to return detailed error messages
          schema:
            type: boolean
      requestBody:
        description: Schema
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: "#/components/schemas/RegisterSchemaRequest"
          application/vnd.schemaregistry+json:
            schema:
              $ref: "#/components/schemas/RegisterSchemaRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterSchemaRequest"
          application/octet-stream:
            schema:
              $ref: "#/components/schemas/RegisterSchemaRequest"
        required: true
      responses:
        "200":
          description: Compatibility check result.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/CompatibilityCheckResponse"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/CompatibilityCheckResponse"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/CompatibilityCheckResponse"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /config/{subject}:
    get:
      tags:
        - Config (v1)
      summary: Get subject compatibility level
      description: |-
        Retrieves compatibility level, compatibility group, normalization,
        default metadata, and rule set for a subject.
      operationId: getSubjectLevelConfig
      parameters:
        - name: subject
          in: path
          description: Name of the subject
          required: true
          schema:
            type: string
        - name: defaultToGlobal
          in: query
          description:
            Whether to return the global compatibility level  if subject compatibility level not
            found
          schema:
            type: boolean
      responses:
        "200":
          description: The subject compatibility level.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/Config"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/Config"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/Config"
        "404":
          description: Not Found. Error code 40401 indicates subject not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
    put:
      tags:
        - Config (v1)
      summary: Update subject compatibility level
      description: |-
        Update compatibility level, compatibility group, normalization,
        default metadata, and rule set for the specified subject. On success,
        echoes the original request back to the client.
      operationId: updateSubjectLevelConfig
      parameters:
        - name: subject
          in: path
          description: Name of the subject
          required: true
          schema:
            type: string
      requestBody:
        description: Config Update Request
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: "#/components/schemas/ConfigUpdateRequest"
          application/vnd.schemaregistry+json:
            schema:
              $ref: "#/components/schemas/ConfigUpdateRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigUpdateRequest"
          application/octet-stream:
            schema:
              $ref: "#/components/schemas/ConfigUpdateRequest"
        required: true
      responses:
        "200":
          description: The original request.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ConfigUpdateRequest"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ConfigUpdateRequest"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ConfigUpdateRequest"
        "422":
          description: Unprocessable Entity. Error code 42203 indicates invalid compatibility level.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
            Error code 50003 indicates a failure forwarding the request to the primary.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
    delete:
      tags:
        - Config (v1)
      summary: Delete subject compatibility level
      description:
        Deletes the specified subject-level compatibility level config and reverts to the global
        default.
      operationId: deleteSubjectConfig
      parameters:
        - name: subject
          in: path
          description: Name of the subject
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Operation succeeded. Returns old compatibility level.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: string
                x-extensible-enum:
                  - NONE
                  - BACKWARD
                  - BACKWARD_TRANSITIVE
                  - FORWARD
                  - FORWARD_TRANSITIVE
                  - FULL
                  - FULL_TRANSITIVE
                example: FULL_TRANSITIVE
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                type: string
                x-extensible-enum:
                  - NONE
                  - BACKWARD
                  - BACKWARD_TRANSITIVE
                  - FORWARD
                  - FORWARD_TRANSITIVE
                  - FULL
                  - FULL_TRANSITIVE
                example: FULL_TRANSITIVE
            application/json; qs=0.5:
              schema:
                type: string
                x-extensible-enum:
                  - NONE
                  - BACKWARD
                  - BACKWARD_TRANSITIVE
                  - FORWARD
                  - FORWARD_TRANSITIVE
                  - FULL
                  - FULL_TRANSITIVE
                example: FULL_TRANSITIVE
        "404":
          description: Not Found. Error code 40401 indicates subject not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /config:
    get:
      tags:
        - Config (v1)
      summary: Get global compatibility level
      description: |-
        Retrieves the global compatibility level, compatibility group,
        normalization, default metadata, and rule set.
      operationId: getTopLevelConfig
      responses:
        "200":
          description: The global compatibility level.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/Config"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/Config"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/Config"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
    put:
      tags:
        - Config (v1)
      summary: Update global compatibility level
      description: |-
        Updates the global compatibility level, compatibility group,
        schema normalization, default metadata, and rule set. On success, echoes the
        original request back to the client.
      operationId: updateTopLevelConfig
      requestBody:
        description: Config Update Request
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: "#/components/schemas/ConfigUpdateRequest"
          application/vnd.schemaregistry+json:
            schema:
              $ref: "#/components/schemas/ConfigUpdateRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigUpdateRequest"
          application/octet-stream:
            schema:
              $ref: "#/components/schemas/ConfigUpdateRequest"
        required: true
      responses:
        "200":
          description: The original request.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ConfigUpdateRequest"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ConfigUpdateRequest"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ConfigUpdateRequest"
        "422":
          description: Unprocessable Entity. Error code 42203 indicates invalid compatibility level.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
            Error code 50003 indicates a failure forwarding the request to the primary.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
    delete:
      tags:
        - Config (v1)
      summary: Delete global compatibility level
      description: Deletes the global compatibility level config and reverts to the default.
      operationId: deleteTopLevelConfig
      responses:
        "200":
          description: Operation succeeded. Returns old global compatibility level.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: string
                x-extensible-enum:
                  - NONE
                  - BACKWARD
                  - BACKWARD_TRANSITIVE
                  - FORWARD
                  - FORWARD_TRANSITIVE
                  - FULL
                  - FULL_TRANSITIVE
              example: FULL_TRANSITIVE
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                type: string
                x-extensible-enum:
                  - NONE
                  - BACKWARD
                  - BACKWARD_TRANSITIVE
                  - FORWARD
                  - FORWARD_TRANSITIVE
                  - FULL
                  - FULL_TRANSITIVE
              example: FULL_TRANSITIVE
            application/json; qs=0.5:
              schema:
                type: string
                x-extensible-enum:
                  - NONE
                  - BACKWARD
                  - BACKWARD_TRANSITIVE
                  - FORWARD
                  - FORWARD_TRANSITIVE
                  - FULL
                  - FULL_TRANSITIVE
              example: FULL_TRANSITIVE
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /exporters:
    get:
      tags:
        - Exporters (v1)
      summary: Gets all schema exporters
      description: Retrieves a list of schema exporters that have been created.
      operationId: listExporters
      responses:
        "200":
          description: Name of the exporter
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: array
                items:
                  type: string
                  example: '["exporter1", "exporter2"]'
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/schemaregistry.v1.DefaultSystemError"
      security:
        - resource-api-key: []
        - external-access-token: []
    post:
      tags:
        - Exporters (v1)
      summary: Creates a new schema exporter
      description:
        Creates a new schema exporter. All attributes in request body are optional except config.
      operationId: registerExporter
      requestBody:
        description: Schema
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: "#/components/schemas/ExporterReference"
          application/vnd.schemaregistry+json:
            schema:
              $ref: "#/components/schemas/ExporterReference"
          application/json:
            schema:
              $ref: "#/components/schemas/ExporterReference"
        required: true
      responses:
        "200":
          description: Schema successfully registered.
          content:
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ExporterResponse"
        "409":
          description:
            Conflict. Error code 40950 – Missing or invalid exporter name \ Error code 40951 –
            Missing or invalid exporter config \ Error code 40952 – Invalid exporter subjects \
            Error code 40960 – Exporter already exists \ Error code 40964 – Too many exporters
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/schemaregistry.v1.DefaultSystemError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /exporters/{name}:
    get:
      tags:
        - Exporters (v1)
      summary: Gets schema exporter by name
      description: Retrieves the information of the schema exporter.
      operationId: getExporterInfoByName
      parameters:
        - name: name
          in: path
          description: Name of the exporter
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The original request.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ExporterReference"
        "404":
          description: Not Found. Error code 40450 – Exporter not found
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/schemaregistry.v1.DefaultSystemError"
      security:
        - resource-api-key: []
        - external-access-token: []
    put:
      tags:
        - Exporters (v1)
      summary: Update schema exporter by name
      description:
        "Updates the information or configurations of the schema exporter. All attributes in request
        body are optional."
      operationId: updateExporterInfo
      parameters:
        - name: name
          in: path
          description: Name of the exporter
          required: true
          schema:
            type: string
      requestBody:
        description: Exporter Update Request
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: "#/components/schemas/ExporterUpdateRequest"
          application/vnd.schemaregistry+json:
            schema:
              $ref: "#/components/schemas/ExporterUpdateRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/ExporterUpdateRequest"
        required: true
      responses:
        "200":
          description: The original request.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ExporterResponse"
        "404":
          description: Not Found. Error code 40401 indicates subject not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "409":
          description:
            Invalid. Error code 40952 – Invalid exporter subjects. Error code 40963 – Exporter not
            paused.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/schemaregistry.v1.DefaultSystemError"
      security:
        - resource-api-key: []
        - external-access-token: []
    delete:
      tags:
        - Exporters (v1)
      summary: Delete schema exporter by name
      description: Deletes the schema exporter.
      operationId: deleteExporter
      parameters:
        - name: name
          in: path
          description: Name of the exporter
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No content.
        "404":
          $ref: "#/components/responses/schemaregistry.v1.AccountNotFoundError"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/schemaregistry.v1.DefaultSystemError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /exporters/{name}/status:
    get:
      tags:
        - Exporters (v1)
      summary: Gets schema exporter status by name
      description: Retrieves the status of the schema exporter.
      operationId: getExporterStatusByName
      parameters:
        - name: name
          in: path
          description: Name of the exporter
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The original request.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ExporterStatusResponse"

        "404":
          description: Not Found. Error code 40450 – Exporter not found
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/schemaregistry.v1.DefaultSystemError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /exporters/{name}/config:
    get:
      tags:
        - Exporters (v1)
      summary: Gets schema exporter config by name
      description: Retrieves the config of the schema exporter.
      operationId: getExporterConfigByName
      parameters:
        - name: name
          in: path
          description: Name of the exporter
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The original request
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ExporterConfigResponse"
        "404":
          description: Not Found. Error code 40450 – Exporter not found
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/schemaregistry.v1.DefaultSystemError"
      security:
        - resource-api-key: []
        - external-access-token: []
    put:
      tags:
        - Exporters (v1)
      summary: Update schema exporter config by name
      description: Retrieves the config of the schema exporter.
      operationId: updateExporterConfigByName
      parameters:
        - name: name
          in: path
          description: Name of the exporter
          required: true
          schema:
            type: string
      requestBody:
        description: Exporter Update Request
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: "#/components/schemas/ExporterConfigResponse"
          application/vnd.schemaregistry+json:
            schema:
              $ref: "#/components/schemas/ExporterConfigResponse"
          application/json:
            schema:
              $ref: "#/components/schemas/ExporterConfigResponse"
        required: true
      responses:
        "200":
          description: The original request.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ExporterResponse"
        "404":
          description: Not Found. Error code 40401 indicates subject not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "409":
          description:
            Invalid. Error code 40952 – Invalid exporter subjects. Error code 40963 – Exporter not
            paused.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/schemaregistry.v1.DefaultSystemError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /exporters/{name}/pause:
    put:
      tags:
        - Exporters (v1)
      summary: Pause schema exporter by name
      description: Pauses the state of the schema exporter.
      operationId: pauseExporterByName
      parameters:
        - name: name
          in: path
          description: Name of the exporter
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The original request.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ExporterResponse"
        "404":
          description: Not Found. Error code 40401 indicates subject not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "409":
          description:
            Invalid. Error code 40952 – Invalid exporter subjects. Error code 40963 – Exporter not
            paused.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/schemaregistry.v1.DefaultSystemError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /exporters/{name}/reset:
    put:
      tags:
        - Exporters (v1)
      summary: Reset schema exporter by name
      description: Reset the state of the schema exporter.
      operationId: resetExporterByName
      parameters:
        - name: name
          in: path
          description: Name of the exporter
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The original request.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ExporterResponse"
        "404":
          description: Not Found. Error code 40450 – Exporter not found
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "409":
          description: Invalid. Error code 40963 – Exporter not paused.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/schemaregistry.v1.DefaultSystemError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /exporters/{name}/resume:
    put:
      tags:
        - Exporters (v1)
      summary: Resume schema exporter by name
      description: Resume running of the schema exporter.
      operationId: resumeExporterByName
      parameters:
        - name: name
          in: path
          description: Name of the exporter
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The original request.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ExporterResponse"
        "404":
          description: Not Found. Error code 40450 indicates subject not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "409":
          description: Invalid. Error code 40961 – Exporter already running.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
        "500":
          $ref: "#/components/responses/schemaregistry.v1.DefaultSystemError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /contexts:
    get:
      tags:
        - Contexts (v1)
      summary: List contexts
      description: Retrieves a list of contexts.
      operationId: listContexts
      responses:
        "200":
          description: The contexts.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: array
                items:
                  type: string
                  example: "."
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                type: array
                items:
                  type: string
                  example: "."
            application/json; qs=0.5:
              schema:
                type: array
                items:
                  type: string
                  example: "."
        "500":
          description:
            "Internal Server Error. Error code 50001 indicates a failure in the backend data store. "
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /mode/{subject}:
    get:
      tags:
        - Modes (v1)
      summary: Get subject mode
      description: Retrieves the subject mode.
      operationId: getMode
      parameters:
        - name: subject
          in: path
          description: Name of the subject
          required: true
          schema:
            type: string
        - name: defaultToGlobal
          in: query
          description: Whether to return the global mode if subject mode not found
          schema:
            type: boolean
      responses:
        "200":
          description: The subject mode.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/Mode"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/Mode"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/Mode"
        "404":
          description: Not Found. Error code 40401 indicates subject not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
    put:
      tags:
        - Modes (v1)
      summary: Update subject mode
      description: "Update mode for the specified subject. On success, echoes the\
        \ original request back to the client."
      operationId: updateMode
      parameters:
        - name: subject
          in: path
          description: Name of the subject
          required: true
          schema:
            type: string
        - name: force
          in: query
          description: Whether to force update if setting mode to IMPORT and schemas currently exist
          schema:
            type: boolean
      requestBody:
        description: Update Request
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: "#/components/schemas/ModeUpdateRequest"
          application/vnd.schemaregistry+json:
            schema:
              $ref: "#/components/schemas/ModeUpdateRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/ModeUpdateRequest"
          application/octet-stream:
            schema:
              $ref: "#/components/schemas/ModeUpdateRequest"
        required: true
      responses:
        "200":
          description: The original request.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ModeUpdateRequest"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ModeUpdateRequest"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ModeUpdateRequest"
        "422":
          description:
            Unprocessable Entity. Error code 42204 indicates an invalid mode. Error code 42205
            indicates operation not permitted.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
            Error code 50003 indicates a failure forwarding the request to the primary. Error code
            50004 indicates unknown leader.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
    delete:
      tags:
        - Modes (v1)
      summary: Delete subject mode
      description: Deletes the specified subject-level mode and reverts to the global default.
      operationId: deleteSubjectMode
      parameters:
        - name: subject
          in: path
          description: Name of the subject
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Operation succeeded. Returns old mode.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/Mode"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/Mode"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/Mode"
        "404":
          description: Not Found. Error code 40401 indicates subject not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /mode:
    get:
      tags:
        - Modes (v1)
      summary: Get global mode
      description: Retrieves global mode.
      operationId: getTopLevelMode
      responses:
        "200":
          description: The global mode
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/Mode"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/Mode"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/Mode"
        "500":
          description: Error code 50001 -- Error in the backend data store
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
    put:
      tags:
        - Modes (v1)
      summary: Update global mode
      description: "Update global mode. On success, echoes the original request back\
        \ to the client."
      operationId: updateTopLevelMode
      parameters:
        - name: force
          in: query
          description: Whether to force update if setting mode to IMPORT and schemas currently exist
          schema:
            type: boolean
      requestBody:
        description: Update Request
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: "#/components/schemas/ModeUpdateRequest"
          application/vnd.schemaregistry+json:
            schema:
              $ref: "#/components/schemas/ModeUpdateRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/ModeUpdateRequest"
          application/octet-stream:
            schema:
              $ref: "#/components/schemas/ModeUpdateRequest"
        required: true
      responses:
        "200":
          description: The original request.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ModeUpdateRequest"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ModeUpdateRequest"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ModeUpdateRequest"
        "422":
          description:
            Unprocessable Entity. Error code 42204 indicates an invalid mode. Error code 42205
            indicates operation not permitted.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
            Error code 50003 indicates a failure forwarding the request to the primary. Error code
            50004 indicates unknown leader.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /schemas/ids/{id}:
    get:
      tags:
        - Schemas (v1)
      summary: Get schema string by ID
      description: Retrieves the schema string identified by the input ID.
      operationId: getSchema
      parameters:
        - name: id
          in: path
          description: Globally unique identifier of the schema
          required: true
          schema:
            type: integer
            format: int32
        - name: subject
          in: query
          description: Name of the subject
          schema:
            type: string
        - name: format
          in: query
          description: "Desired output format, dependent on schema type"
          schema:
            type: string
            default: ""
        - name: fetchMaxId
          in: query
          description: Whether to fetch the maximum schema identifier that exists
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: The schema string.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/SchemaString"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/SchemaString"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/SchemaString"
        "404":
          description: Not Found. Error code 40403 indicates schema not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /schemas/ids/{id}/schema:
    get:
      tags:
        - Schemas (v1)
      summary: Get schema by ID
      description: Retrieves the schema identified by the input ID.
      operationId: getSchemaOnly
      parameters:
        - name: id
          in: path
          description: Globally unique identifier of the schema
          required: true
          schema:
            type: integer
            format: int32
        - name: subject
          in: query
          description: Name of the subject
          schema:
            type: string
        - name: format
          in: query
          description: "Desired output format, dependent on schema type"
          schema:
            type: string
            default: ""
      responses:
        "200":
          description: Raw schema string.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: string
                example: '{"schema": "{"type": "string"}"}'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                type: string
                example: '{"schema": "{"type": "string"}"}'
            application/json; qs=0.5:
              schema:
                type: string
                example: '{"schema": "{"type": "string"}"}'
        "404":
          description: Not Found. Error code 40403 indicates schema not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /schemas/types:
    get:
      tags:
        - Schemas (v1)
      summary: List supported schema types
      description: Retrieve the schema types supported by this registry.
      operationId: getSchemaTypes
      responses:
        "200":
          description: List of supported schema types.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: array
                items:
                  type: string
                  example: AVRO
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                type: array
                items:
                  type: string
                  example: AVRO
            application/json; qs=0.5:
              schema:
                type: array
                items:
                  type: string
                  example: AVRO
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /schemas:
    get:
      tags:
        - Schemas (v1)
      summary: List schemas
      description: Get the schemas matching the specified parameters.
      operationId: getSchemas
      parameters:
        - name: subjectPrefix
          in: query
          description: Filters results by the respective subject prefix
          schema:
            type: string
            default: ""
        - name: deleted
          in: query
          description: Whether to return soft deleted schemas
          schema:
            type: boolean
            default: false
        - name: latestOnly
          in: query
          description: Whether to return latest schema versions only for each matching subject
          schema:
            type: boolean
            default: false
        - name: offset
          in: query
          description: Pagination offset for results
          schema:
            type: integer
            format: int32
            default: 0
        - name: limit
          in: query
          description: Pagination size for results. Ignored if negative
          schema:
            type: integer
            format: int32
            default: -1
      responses:
        "200":
          description: List of schemas matching the specified parameters.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Schema"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Schema"
            application/json; qs=0.5:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Schema"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /schemas/ids/{id}/subjects:
    get:
      tags:
        - Schemas (v1)
      summary: List subjects associated to schema ID
      description: Retrieves all the subjects associated with a particular schema ID.
      operationId: getSubjects
      parameters:
        - name: id
          in: path
          description: Globally unique identifier of the schema
          required: true
          schema:
            type: integer
            format: int32
        - name: subject
          in: query
          description: Filters results by the respective subject
          schema:
            type: string
        - name: deleted
          in: query
          description: Whether to include subjects where the schema was deleted
          schema:
            type: boolean
      responses:
        "200":
          description: List of subjects matching the specified parameters.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: array
                items:
                  type: string
                  example: User
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                type: array
                items:
                  type: string
                  example: User
            application/json; qs=0.5:
              schema:
                type: array
                items:
                  type: string
                  example: User
        "404":
          description: Not Found. Error code 40403 indicates schema not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /schemas/ids/{id}/versions:
    get:
      tags:
        - Schemas (v1)
      summary: List subject-versions associated to schema ID
      description: Get all the subject-version pairs associated with the input ID.
      operationId: getVersions
      parameters:
        - name: id
          in: path
          description: Globally unique identifier of the schema
          required: true
          schema:
            type: integer
            format: int32
        - name: subject
          in: query
          description: Filters results by the respective subject
          schema:
            type: string
        - name: deleted
          in: query
          description: Whether to include subject versions where the schema was deleted
          schema:
            type: boolean
      responses:
        "200":
          description: List of subject versions matching the specified parameters.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubjectVersion"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubjectVersion"
            application/json; qs=0.5:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubjectVersion"
        "404":
          description: Not Found. Error code 40403 indicates schema not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /subjects/{subject}/versions/{version}:
    get:
      tags:
        - Subjects (v1)
      summary: Get schema by version
      description: Retrieves a specific version of the schema registered under this subject.
      operationId: getSchemaByVersion
      parameters:
        - name: subject
          in: path
          description: Name of the subject
          required: true
          schema:
            type: string
        - name: version
          in: path
          description: "Version of the schema to be returned. Valid values for versionId\
            \ are between [1,2^31-1] or the string \"latest\". \"latest\" returns the\
            \ last registered schema under the specified subject. Note that there may\
            \ be a new latest schema that gets registered right after this request is\
            \ served."
          required: true
          schema:
            type: string
        - name: deleted
          in: query
          description: Whether to include deleted schema
          schema:
            type: boolean
      responses:
        "200":
          description: The schema.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/Schema"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/Schema"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/Schema"
        "404":
          description:
            Not Found. Error code 40401 indicates subject not found. Error code 40402 indicates
            version not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "422":
          description: Unprocessable Entity. Error code 42202 indicates an invalid version.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
    delete:
      tags:
        - Subjects (v1)
      summary: Delete schema version
      description: "Deletes a specific version of the schema registered under this\
        \ subject. This only deletes the version and the schema ID remains intact\
        \ making it still possible to decode data using the schema ID. This API is\
        \ recommended to be used only in development environments or under extreme\
        \ circumstances where-in, its required to delete a previously registered schema\
        \ for compatibility purposes or re-register previously registered schema."
      operationId: deleteSchemaVersion
      parameters:
        - name: subject
          in: path
          description: Name of the subject
          required: true
          schema:
            type: string
        - name: version
          in: path
          description: "Version of the schema to be returned. Valid values for versionId\
            \ are between [1,2^31-1] or the string \"latest\". \"latest\" returns the\
            \ last registered schema under the specified subject. Note that there may\
            \ be a new latest schema that gets registered right after this request is\
            \ served."
          required: true
          schema:
            type: string
        - name: permanent
          in: query
          description: Whether to perform a permanent delete
          schema:
            type: boolean
      responses:
        "200":
          description: Operation succeeded. Returns the schema version.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: integer
                format: int32
                example: 1
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                type: integer
                format: int32
                example: 1
            application/json; qs=0.5:
              schema:
                type: integer
                format: int32
                example: 1
        "404":
          description:
            Not Found. Error code 40401 indicates subject not found. Error code 40402 indicates
            version not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "422":
          description: Unprocessable Entity. Error code 42202 indicates an invalid version.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /subjects/{subject}/versions/{version}/referencedby:
    get:
      tags:
        - Subjects (v1)
      summary: List schemas referencing a schema
      description: Retrieves the IDs of schemas that reference the specified schema.
      operationId: getReferencedBy
      parameters:
        - name: subject
          in: path
          description: Name of the subject
          required: true
          schema:
            type: string
        - name: version
          in: path
          description: "Version of the schema to be returned. Valid values for versionId\
            \ are between [1,2^31-1] or the string \"latest\". \"latest\" returns the\
            \ last registered schema under the specified subject. Note that there may\
            \ be a new latest schema that gets registered right after this request is\
            \ served."
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of IDs for schemas that reference the specified schema.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
                  example: 100001
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
                  example: 100001
            application/json; qs=0.5:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
                  example: 100001
        "404":
          description:
            Not Found. Error code 40401 indicates subject not found. Error code 40402 indicates
            version not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "422":
          description: Unprocessable Entity. Error code 42202 indicates an invalid version.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /subjects/{subject}/versions/{version}/schema:
    get:
      tags:
        - Subjects (v1)
      summary: Get schema string by version
      description:
        Retrieves the schema for the specified version of this subject. Only the unescaped schema
        string is returned.
      operationId: getSchemaOnly_1
      parameters:
        - name: subject
          in: path
          description: Name of the subject
          required: true
          schema:
            type: string
        - name: version
          in: path
          description: "Version of the schema to be returned. Valid values for versionId\
            \ are between [1,2^31-1] or the string \"latest\". \"latest\" returns the\
            \ last registered schema under the specified subject. Note that there may\
            \ be a new latest schema that gets registered right after this request is\
            \ served."
          required: true
          schema:
            type: string
        - name: deleted
          in: query
          description: Whether to include deleted schema
          schema:
            type: boolean
      responses:
        "200":
          description: The schema string.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: string
                example: '{"schema": "{"type": "string"}"}'
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                type: string
                example: '{"schema": "{"type": "string"}"}'
            application/json; qs=0.5:
              schema:
                type: string
                example: '{"schema": "{"type": "string"}"}'
        "404":
          description:
            Not Found. Error code 40401 indicates subject not found. Error code 40402 indicates
            version not found.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "422":
          description: Unprocessable Entity. Error code 42202 indicates an invalid version.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
  /subjects/{subject}/versions:
    get:
      tags:
        - Subjects (v1)
      summary: List versions under subject
      description: Retrieves a list of versions registered under the specified subject.
      operationId: listVersions
      parameters:
        - name: subject
          in: path
          description: Name of the subject
          required: true
          schema:
            type: string
        - name: deleted
          in: query
          description: Whether to include deleted schemas
          schema:
            type: boolean
      responses:
        "200":
          description: List of version numbers matching the specified parameters.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
                  example: 1
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
                  example: 1
            application/json; qs=0.5:
              schema:
                type: array
                items:
                  type: integer
                  format: int32
                  example: 1
        "404":
          description: "Not Found. Error code 40401 indicates subject not found. "
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data store.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "400":
          $ref: "#/components/responses/schemaregistry.v1.BadRequestError"
        "401":
          $ref: "#/components/responses/schemaregistry.v1.UnauthorizedError"
        "403":
          $ref: "#/components/responses/schemaregistry.v1.ForbiddenError"
        "429":
          $ref: "#/components/responses/RateLimitError"
      security:
        - resource-api-key: []
        - external-access-token: []
    post:
      tags:
        - Subjects (v1)
      summary: Register schema under a subject
      description: |-
        Register a new schema under the specified subject. If successfully registered, this returns the unique identifier of this schema in the registry. The returned identifier should be used to retrieve this schema from the schemas resource and is different from the schema's version which is associated with the subject. If the same schema is registered under a different subject, the same identifier will be returned. However, the version of the schema may be different under different subjects.
        A schema should be compatible with the previously registered schema or schemas (if there are any) as per the configured compatibility level. The configured compatibility level can be obtained by issuing a GET http:get:: /config/(string: subject). If that returns null, then GET http:get:: /config
        When there are multiple instances of Schema Registry running in the same cluster, the schema registration request will be forwarded to one of the instances designated as the primary. If the primary is not available, the client will get an error code indicating that the forwarding has failed.
      operationId: register
      parameters:
        - name: subject
          in: path
          description: Name of the subject
          required: true
          schema:
            type: string
        - name: normalize
          in: query
          description: Whether to register the normalized schema
          schema:
            type: boolean
      requestBody:
        description: Schema
        content:
          application/vnd.schemaregistry.v1+json:
            schema:
              $ref: "#/components/schemas/RegisterSchemaRequest"
          application/vnd.schemaregistry+json:
            schema:
              $ref: "#/components/schemas/RegisterSchemaRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterSchemaRequest"
          application/octet-stream:
            schema:
              $ref: "#/components/schemas/RegisterSchemaRequest"
        required: true
      responses:
        "200":
          description: Schema successfully registered.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/RegisterSchemaResponse"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/RegisterSchemaResponse"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/RegisterSchemaResponse"
        "409":
          description: Conflict. Incompatible schema.
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "422":
          description:
            "Unprocessable entity. Error code 42201 indicates an invalid schema or schema type. "
          content:
            application/vnd.schemaregistry.v1+json:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/vnd.schemaregistry+json; qs=0.9:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
            application/json; qs=0.5:
              schema:
                $ref: "#/components/schemas/ErrorMessage"
        "500":
          description:
            Internal Server Error. Error code 50001 indicates a failure in the backend data
            store.Error code 50002 indicates operation timed out. Error code 50003 indicates a
[...]
